docs/source/xsd/DP_IZVPOL_1_982_00_01_03_01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by SKS (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="‘айл">
		<xs:annotation>
			<!---*******************************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="ѕроверка имени файла на соответствие значению атрибута @»д‘айл">
					<sch:rule context="‘айл">
						<!--ѕроверка имени файла на соответствие »д‘айл-->
						<sch:assert test="usch:getFileName() = @»д‘айл">
							<usch:error code="0400400007" path="@»д‘айл" value-of-select="@»д‘айл" doc-id-path="usch:getFileName()" doc-id-caption="‘айл">»м€ файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента »д‘айл "<usch:value-of select="@»д‘айл"/>"</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---*******************************************************************************************************************************************************************************-->
			<xs:documentation>»звещение о получении электронного документа</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ƒокумент">
					<xs:annotation>
						<xs:documentation>—остав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="”частЁƒќ" type="”частЁƒќ“ип">
								<xs:annotation>
									<!---*************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Ќаличие элемента —тр–ег в зависимости от значени€ элемента »д—тат">
											<sch:rule context="”частЁƒќ">
												<!-- онтроль наличи€ элемента —тр–ег в зависимости от от значени€ элемента »д—тат-->
												<sch:assert test="usch:iif( 
						—в»н”частЌе”ч/@»д—тат='ёЋ'   ,
						count(—в»н”частЌе”ч/@—тр–ег)!=0  , 
						( count(—в»н”частЌе”ч/@—тр–ег)!=0  or  count(—в»н”частЌе”ч/@—тр–ег)=0 ) 
						)">
													<usch:error code="0400400007" path="—в»н”частЌе”ч/@—тр–ег" value-of-select="count(—в»н”частЌе”ч/@—тр–ег)"> Ќе выполнено условие присутстви€ (отсутстви€) элемента —тр–ег при значении элемента »д—тат, равном "<usch:value-of select="—в»н”частЌе”ч/@»д—тат"/>". </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<!---*************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Ќаличие элемента Ќаим в зависимости от значени€ элемента »д—тат">
											<sch:rule context="”частЁƒќ">
												<!-- онтроль наличи€ элемента Ќаим в зависимости от от значени€ элемента »д—тат-->
												<sch:assert test="usch:iif( 
						—в»н”частЌе”ч/@»д—тат='‘Ћ'   ,
						count(—в»н”частЌе”ч/@Ќаим)!=0  , 
						( count(—в»н”частЌе”ч/@Ќаим)!=0  or  count(—в»н”частЌе”ч/@Ќаим)=0 ) 
						)">
													<usch:error code="0400400007" path="—в»н”частЌе”ч/@Ќаим" value-of-select="count(—в»н”частЌе”ч/@Ќаим)"> Ќе выполнено условие присутстви€ (отсутстви€) элемента Ќаим при значении элемента »д—тат, равном "<usch:value-of select="—в»н”частЌе”ч/@»д—тат"/>". </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<!---*************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Ќаличие элемента  одЌѕ–ег в зависимости от значени€ элемента »д—тат и наличи€ элементов Ќаим и »ные—вед">
											<sch:rule context="”частЁƒќ">
												<!-- онтроль наличи€ элемента  одЌѕ–ег в зависимости от от значени€ элемента »д—тат и наличи€ элементов Ќаим и »ные—вед-->
												<sch:assert test="usch:iif( 
						count(—в»н”частЌе”ч)!=0  and  —в»н”частЌе”ч/@»д—тат='ёЋ'  and  count(—в»н”частЌе”ч/@Ќаим)=0  and  count(—в»н”частЌе”ч/@»ные—вед)=0  ,
						count(—в»н”частЌе”ч/@ одЌѕ–ег)!=0  , 
						( count(—в»н”частЌе”ч/@ одЌѕ–ег)!=0  or  count(—в»н”частЌе”ч/@ одЌѕ–ег)=0 ) 
						)">
													<usch:error code="0400400007" path="—в»н”частЌе”ч/@ одЌѕ–ег" value-of-select="count(—в»н”частЌе”ч/@ одЌѕ–ег)"> Ќе выполнено условие присутстви€ (отсутстви€) элемента  одЌѕ–ег при значении элемента »д—тат, равном "<usch:value-of select="—в»н”частЌе”ч/@»д—тат"/>"  и наличии (отсутсвии) элементов Ќаим и »ные—вед. </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<!---*************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Ќаличие элемента »ные—вед в зависимости от значени€ элемента »д—тат и наличи€ элементов Ќаим и  одЌѕ–ег">
											<sch:rule context="”частЁƒќ">
												<!-- онтроль наличи€ элемента »ные—вед в зависимости от от значени€ элемента »д—тат и наличи€ элементов Ќаим и  одЌѕ–ег-->
												<sch:assert test="usch:iif( 
						count(—в»н”частЌе”ч)!=0  and  —в»н”частЌе”ч/@»д—тат='ёЋ'  and  count(—в»н”частЌе”ч/@Ќаим)=0  and  count(—в»н”частЌе”ч/@ одЌѕ–ег)=0  ,
						count(@»ные—вед)!=0  , 
						( count(—в»н”частЌе”ч/@»ные—вед)!=0  or  count(—в»н”частЌе”ч/@»ные—вед)=0 ) 
						)">
													<usch:error code="0400400007" path="—в»н”частЌе”ч/@»ные—вед" value-of-select="count(—в»н”частЌе”ч/@»ные—вед)"> Ќе выполнено условие присутстви€ (отсутстви€) элемента »ные—вед при значении элемента »д—тат, равном "<usch:value-of select="—в»н”частЌе”ч/@»д—тат"/>" и наличии (отсутсвии) элементов Ќаим и  одЌѕ–ег. </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<xs:documentation>”частник электронного документооборота в рамках выставлени€ и получени€ первичных и иных документов, включа€ счета-фактуры, сформировавший извещение о получении</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="—в»звѕолуч">
								<xs:annotation>
									<xs:documentation>ќбщие сведени€ извещени€ о получении электронного документа</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="—ведѕол‘айл">
											<xs:annotation>
												<xs:documentation>—ведени€ по полученному файлу</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Ёѕѕол‘айл" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Ёлектронна€ подпись под полученным файлом</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="»м€ѕол‘айла" use="required">
													<xs:annotation>
														<xs:documentation>»м€ полученного файла</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ƒатаѕол" type="ƒата“ип" use="required">
										<xs:annotation>
											<xs:documentation>ƒата получени€ </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="¬рем€ѕол" type="¬рем€“ип" use="required">
										<xs:annotation>
											<xs:documentation>¬рем€ получени€</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ќтпрƒок">
								<xs:annotation>
									<!---*************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Ќаличие элемента —тр–ег в зависимости от значени€ элемента »д—тат">
											<sch:rule context="ќтпрƒок">
												<!-- онтроль наличи€ элемента —тр–ег в зависимости от от значени€ элемента »д—тат-->
												<sch:assert test="usch:iif( 
						—в»н”частЌе”ч/@»д—тат='ёЋ'   ,
						count(—в»н”частЌе”ч/@—тр–ег)!=0  , 
						( count(—в»н”частЌе”ч/@—тр–ег)!=0  or  count(—в»н”частЌе”ч/@—тр–ег)=0 ) 
						)">
													<usch:error code="0400400007" path="—в»н”частЌе”ч/@—тр–ег" value-of-select="count(—в»н”частЌе”ч/@—тр–ег)"> Ќе выполнено условие присутстви€ (отсутстви€) элемента —тр–ег при значении элемента »д—тат, равном "<usch:value-of select="—в»н”частЌе”ч/@»д—тат"/>". </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<!---*************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Ќаличие элемента Ќаим в зависимости от значени€ элемента »д—тат">
											<sch:rule context="ќтпрƒок">
												<!-- онтроль наличи€ элемента Ќаим в зависимости от от значени€ элемента »д—тат-->
												<sch:assert test="usch:iif( 
						—в»н”частЌе”ч/@»д—тат='‘Ћ'   ,
						count(—в»н”частЌе”ч/@Ќаим)!=0  , 
						( count(—в»н”частЌе”ч/@Ќаим)!=0  or  count(—в»н”частЌе”ч/@Ќаим)=0 ) 
						)">
													<usch:error code="0400400007" path="—в»н”частЌе”ч/@Ќаим" value-of-select="count(—в»н”частЌе”ч/@Ќаим)"> Ќе выполнено условие присутстви€ (отсутстви€) элемента Ќаим при значении элемента »д—тат, равном "<usch:value-of select="—в»н”частЌе”ч/@»д—тат"/>". </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<!---*************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Ќаличие элемента  одЌѕ–ег в зависимости от значени€ элемента »д—тат и наличи€ элементов Ќаим и »ные—вед">
											<sch:rule context="ќтпрƒок">
												<!-- онтроль наличи€ элемента  одЌѕ–ег в зависимости от от значени€ элемента »д—тат и наличи€ элементов Ќаим и »ные—вед-->
												<sch:assert test="usch:iif( 
						count(—в»н”частЌе”ч)!=0  and  —в»н”частЌе”ч/@»д—тат='ёЋ'  and  count(—в»н”частЌе”ч/@Ќаим)=0  and  count(—в»н”частЌе”ч/@»ные—вед)=0  ,
						count(—в»н”частЌе”ч/@ одЌѕ–ег)!=0  , 
						( count(—в»н”частЌе”ч/@ одЌѕ–ег)!=0  or  count(—в»н”частЌе”ч/@ одЌѕ–ег)=0 ) 
						)">
													<usch:error code="0400400007" path="—в»н”частЌе”ч/@ одЌѕ–ег" value-of-select="count(—в»н”частЌе”ч/@ одЌѕ–ег)"> Ќе выполнено условие присутстви€ (отсутстви€) элемента  одЌѕ–ег при значении элемента »д—тат, равном "<usch:value-of select="—в»н”частЌе”ч/@»д—тат"/>"  и наличии (отсутсвии) элементов Ќаим и »ные—вед. </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<!---*************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Ќаличие элемента »ные—вед в зависимости от значени€ элемента »д—тат и наличи€ элементов Ќаим и  одЌѕ–ег">
											<sch:rule context="ќтпрƒок">
												<!-- онтроль наличи€ элемента »ные—вед в зависимости от от значени€ элемента »д—тат и наличи€ элементов Ќаим и  одЌѕ–ег-->
												<sch:assert test="usch:iif( 
						count(—в»н”частЌе”ч)!=0  and  —в»н”частЌе”ч/@»д—тат='ёЋ'  and  count(—в»н”частЌе”ч/@Ќаим)=0  and  count(—в»н”частЌе”ч/@ одЌѕ–ег)=0  ,
						count(@»ные—вед)!=0  , 
						( count(—в»н”частЌе”ч/@»ные—вед)!=0  or  count(—в»н”частЌе”ч/@»ные—вед)=0 ) 
						)">
													<usch:error code="0400400007" path="—в»н”частЌе”ч/@»ные—вед" value-of-select="count(—в»н”частЌе”ч/@»ные—вед)"> Ќе выполнено условие присутстви€ (отсутстви€) элемента »ные—вед при значении элемента »д—тат, равном "<usch:value-of select="—в»н”частЌе”ч/@»д—тат"/>" и наличии (отсутсвии) элементов Ќаим и  одЌѕ–ег. </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<xs:documentation>ќтправитель электронного документа</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="ёЋ" type="ёЋ“ип">
											<xs:annotation>
												<xs:documentation>—ведени€ об организации</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="»ѕ" type="‘Ћ“ип">
											<xs:annotation>
												<xs:documentation>—ведени€ об индивидуальном предпринимателе</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="‘Ћ" type="‘Ћ“ип">
											<xs:annotation>
												<xs:documentation>—ведени€ о физическом лице</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ќперЁƒќ">
											<xs:annotation>
												<xs:documentation>ќператор электронного документооборота</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Ќаимќрг" use="required">
													<xs:annotation>
														<xs:documentation>Ќаименование оператора электронного документооборота</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="»ЌЌёЋ" type="»ЌЌёЋ“ип" use="required">
													<xs:annotation>
														<xs:documentation>»ЌЌ организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="»дќперЁƒќ" use="required">
													<xs:annotation>
														<xs:documentation>»дентификатор оператора электронного документооборота</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="3"/>
															<xs:pattern value="[A-Za-z0-9@.-]{3}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="—в»н”частЌе”ч" type="—в»н”чЁƒќЌе”ч“ип">
											<xs:annotation>
												<xs:documentation>—ведени€ об иностранном лице, не состо€щем на учете в налоговых органах в качестве налогоплательщика</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
									<xs:attribute name="»д”частЁƒќ" use="required">
										<xs:annotation>
											<xs:documentation>»дентификатор участника электронного документооборота в рамках выставлени€ и получени€ первичных и иных документов, включа€ счета-фактуры, сформировавший извещение о получении</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="4"/>
												<xs:maxLength value="46"/>
												<xs:pattern value="[A-Za-z0-9@.-]{4,46}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ѕодписант">
								<xs:annotation>
									<!---*************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Ќаличие элемента —вƒоверЁл в зависимости от значени€ элемента —татѕодп">
											<sch:rule context="ѕодписант">
												<!-- онтроль наличи€ элемента —вƒоверЁл в зависимости от от значени€ элемента —татѕодп-->
												<sch:assert test="usch:iif( 
						@—татѕодп=2 ,
						count(—вƒоверЁл)!=0  , 
						( count(—вƒоверЁл)!=0  or  count(—вƒоверЁл)=0 ) 
						)">
													<usch:error code="0400400007" path="—вƒоверЁл" value-of-select="count(—вƒоверЁл)"> Ќе выполнено условие присутстви€ (отсутстви€) элемента —вƒоверЁл при значении элемента —татѕодп, равном "<usch:value-of select="@—татѕодп"/>". </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<!---*************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Ќаличие элемента —вƒоверЅум в зависимости от значени€ элемента —татѕодп">
											<sch:rule context="ѕодписант">
												<!-- онтроль наличи€ элемента —вƒоверЅум в зависимости от от значени€ элемента —татѕодп-->
												<sch:assert test="usch:iif( 
						@—татѕодп=3 ,
						count(—вƒоверЅум)!=0  , 
						( count(—вƒоверЅум)!=0  or  count(—вƒоверЅум)=0 ) 
						)">
													<usch:error code="0400400007" path="—вƒоверЅум" value-of-select="count(—вƒоверЅум)"> Ќе выполнено условие присутстви€ (отсутстви€) элемента —вƒоверЅум при значении элемента —татѕодп, равном "<usch:value-of select="@—татѕодп"/>". </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<xs:documentation>—ведени€ о лице, подписавшем документ в электронной форме</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="‘»ќ" type="‘»ќ“ип">
											<xs:annotation>
												<xs:documentation>‘амили€, им€, отчество (при наличии)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="—вƒоверЁл" minOccurs="0">
											<xs:annotation>
												<!---*************************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Ќаличие элемента »д—ист’ран в зависимости от значени€ элементов —татѕодп и —пособѕредставл">
														<sch:rule context="—вƒоверЁл">
															<!-- онтроль наличи€ элемента »д—ист’ран в зависимости от от значени€ элемента —татѕодп и —пособѕредставл-->
															<sch:assert test="usch:iif( 
						../@—татѕодп=2  and  @—пособѕредставл=2  ,
						count(@»д—ист’ран)!=0  , 
						count(@»д—ист’ран)!=0  or  count(@»д—ист’ран)=0 
						)">
																<usch:error code="0400400007" path="@»д—ист’ран" value-of-select="count(@»д—ист’ран)"> Ќе выполнено условие присутстви€ (отсутстви€) элемента »д—ист’ран при значении элемента —татѕодп, равном "<usch:value-of select="../@—татѕодп"/>" и значении элемента —пособѕредставл, равном "<usch:value-of select="@—пособѕредставл"/>". </usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---*************************************************************************************************************************************************************-->
												<xs:documentation>—ведени€ о доверенности, используемой дл€ подтверждени€ полномочий в электронной форме</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Ќомƒовер" use="required">
													<xs:annotation>
														<xs:documentation>Ќомер доверенности</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="36"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ƒата¬ыдƒовер" type="ƒата“ип" use="required">
													<xs:annotation>
														<xs:documentation>ƒата совершени€ (выдачи) доверенности</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="¬нЌомƒовер" use="optional">
													<xs:annotation>
														<xs:documentation>¬нутренний регистрационный номер доверенности</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ƒата¬н–егƒовер" type="ƒата“ип" use="optional">
													<xs:annotation>
														<xs:documentation>ƒата внутренней регистрации доверенности</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="—пособѕредставл" use="required">
													<xs:annotation>
														<xs:documentation>—пособ представлени€ доверенности</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="»д—ист’ран" use="optional">
													<xs:annotation>
														<xs:documentation>»дентифицирующа€ информаци€ об информационной системе, в которой осуществл€етс€ хранение доверенности</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="500"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="—вƒоверЅум" minOccurs="0">
											<xs:annotation>
												<xs:documentation>—ведени€ о доверенности, используемой дл€ подтверждени€ полномочий на бумажном носителе</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="‘»ќ" type="‘»ќ“ип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>‘амили€, им€, отчество (при наличии) лица, подписавшего доверенность</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ƒатаƒовер" type="ƒата“ип" use="required">
													<xs:annotation>
														<xs:documentation>ƒата совершени€ (выдачи) доверенности</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="¬нЌомƒовер" use="required">
													<xs:annotation>
														<xs:documentation>¬нутренний регистрационный номер доверенности</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="—вƒовер" use="optional">
													<xs:annotation>
														<xs:documentation>—ведени€ о доверителе</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="—татѕодп" use="optional">
										<xs:annotation>
											<xs:documentation>—татус подписанта</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="“ипѕодпис" use="optional">
										<xs:annotation>
											<xs:documentation>“ип подписи</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ƒолжн" use="optional">
										<xs:annotation>
											<xs:documentation>ƒолжность</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name=" Ќƒ" use="required">
							<xs:annotation>
								<xs:documentation> од формы по  Ќƒ</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base=" Ќƒ“ип">
									<xs:enumeration value="1115110"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="»д‘айл" use="required">
				<xs:annotation>
					<xs:documentation>»дентификатор файла</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="¬ерсѕрог" use="required">
				<xs:annotation>
					<xs:documentation>¬ерси€ программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="¬ерс‘орм" use="required">
				<xs:annotation>
					<xs:documentation>¬ерси€ формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="1.03"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="”частЁƒќ“ип">
		<xs:annotation>
			<xs:documentation>”частник электронного документооборота в рамках выставлени€ и получени€ первичных и иных документов, включа€ счета-фактуры</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="ёЋ" type="ёЋ“ип">
				<xs:annotation>
					<xs:documentation>—ведени€ об организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="»ѕ" type="‘Ћ“ип">
				<xs:annotation>
					<xs:documentation>—ведени€ об индивидуальном предпринимателе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="‘Ћ" type="‘Ћ“ип">
				<xs:annotation>
					<xs:documentation>—ведени€ о физическом лице</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—в»н”частЌе”ч" type="—в»н”чЁƒќЌе”ч“ип">
				<xs:annotation>
					<xs:documentation>—ведени€ об иностранном лице, не состо€щем на учете в налоговых органах в качестве налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="»д”частЁƒќ" use="required">
			<xs:annotation>
				<xs:documentation>»дентификатор участника документооборота в рамках выставлени€ и получени€ первичных и иных документов, включа€ счета-фактуры, сформировавший извещение о получении</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="4"/>
					<xs:maxLength value="46"/>
					<xs:pattern value="[A-Za-z0-9@.-]{4,46}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="—в»н”чЁƒќЌе”ч“ип">
		<xs:annotation>
			<xs:documentation>—ведени€ об иностранном лице, не состо€щем на учете в налоговых органах в качестве налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:attribute name="»д—тат" use="required">
			<xs:annotation>
				<xs:documentation>»дентификаци€ статуса</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="25"/>
					<xs:enumeration value="ёЋ"/>
					<xs:enumeration value="‘Ћ"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="—тр–ег" type="ќ —ћ“ип" use="optional">
			<xs:annotation>
				<xs:documentation>—трана регистрации иностранного лица</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Ќаим" use="optional">
			<xs:annotation>
				<xs:documentation>Ќаименование юридического лица полное/‘амили€, им€, отчество (при наличии) физического лица</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name=" одЌѕ–ег" use="optional">
			<xs:annotation>
				<xs:documentation> од налогоплательщика в стране регистрации (инкорпорации) или аналог</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="»ные—вед" use="optional">
			<xs:annotation>
				<xs:documentation>»ные сведени€ об иностранном лице</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ёЋ“ип">
		<xs:annotation>
			<xs:documentation>—ведени€ об организации</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Ќаимќрг" use="required">
			<xs:annotation>
				<xs:documentation>Ќаименование организации </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="»ЌЌёЋ" type="»ЌЌёЋ“ип" use="required">
			<xs:annotation>
				<xs:documentation>»ЌЌ организации</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name=" ѕѕ" type=" ѕѕ“ип" use="required">
			<xs:annotation>
				<xs:documentation> ѕѕ </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="‘Ћ“ип">
		<xs:annotation>
			<xs:documentation>—ведени€ о физическом лице, в том числе индивидуальном предпринимателе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="‘»ќ" type="‘»ќ“ип">
				<xs:annotation>
					<xs:documentation>‘амили€, им€, отчество (при наличии)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="»ЌЌ‘Ћ" type="»ЌЌ‘Ћ“ип" use="required">
			<xs:annotation>
				<xs:documentation>»ЌЌ физического лица, в том числе индивидуального предпринимател€</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="‘»ќ“ип">
		<xs:annotation>
			<xs:documentation>‘амили€, им€, отчество (при наличии) физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="‘амили€" use="required">
			<xs:annotation>
				<xs:documentation>‘амили€</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="»м€" use="required">
			<xs:annotation>
				<xs:documentation>»м€</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ќтчество" use="optional">
			<xs:annotation>
				<xs:documentation>ќтчество (при наличии)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="»ЌЌ‘Ћ“ип">
		<xs:annotation>
			<xs:documentation>»дентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="»ЌЌёЋ“ип">
		<xs:annotation>
			<xs:documentation>»дентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name=" ѕѕ“ип">
		<xs:annotation>
			<xs:documentation> од причины постановки на учет ( ѕѕ) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name=" Ќƒ“ип">
		<xs:annotation>
			<xs:documentation> од из  лассификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ќ —ћ“ип">
		<xs:annotation>
			<xs:documentation> од из ќбщероссийского классификатора стран мира</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="¬рем€“ип">
		<xs:annotation>
			<xs:documentation>¬рем€ в формате „„.ћћ.——</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern value="([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})\.([0-5]{1}[0-9]{1})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ƒата“ип">
		<xs:annotation>
			<xs:documentation>ƒата в формате ƒƒ.ћћ.√√√√ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
