docs/source/xsd/DP_PRIRASXDOP_1_994_02_05_01_01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Файл">
    <xs:annotation>
      <xs:documentation>Файл обмена</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="СвУчДокОбор">
          <xs:annotation>
            <xs:documentation>Сведения об участниках электронного документооборота</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="СвОЭДОтпрСФ">
                <xs:annotation>
                  <xs:documentation>Сведения об операторе электронного документооборота отправителя в рамках электронного документооборота счетов-фактур</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="НаимОрг" use="required">
                    <xs:annotation>
                      <xs:documentation>Наименование</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                    <xs:annotation>
                      <xs:documentation>ИНН</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ИдЭДОСФ" use="required">
                    <xs:annotation>
                      <xs:documentation>Идентификатор оператора электронного документооборота в рамках электронного документооборота счетов-фактур</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ИдОтпр" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор участника документооборота - отправителя файла обмена дополнительными сведениями по результатам приемки</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4" />
                  <xs:maxLength value="46" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ИдПол" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор участника документооборота - получателя файла обмена дополнительных сведений по результатам приемки</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4" />
                  <xs:maxLength value="46" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Документ">
          <xs:annotation>
            <xs:documentation>Дополнительные сведения к документу о приемке и (или) расхождениях</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ИдИнфПок">
                <xs:annotation>
                  <xs:documentation>Идентификация документа о приемке и (или) расхождениях, информация покупателя</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ЭП">
                      <xs:annotation>
                        <xs:documentation>Электронная подпись файла обмена информация покупателя</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ИдФайлИнфПок" use="required">
                    <xs:annotation>
                      <xs:documentation>Идентификатор файла обмена информация покупателя</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ДатаФайлИнфПок" type="ДатаТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Дата  формирования файла обмена информация покупателя</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ВремФайлИнфПок" type="ВремяТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Время формирования файла обмена информация покупателя</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="СвИтПрием">
                <xs:annotation>
                  <xs:documentation>Сведения по итогам приемки ценностей</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ИнфПол" type="ИнфПолТип">
                      <xs:annotation>
                        <xs:documentation>Информационное поле</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ДатаСвИтПрием" type="ДатаТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Дата составления (выписки) сведений по итогам приемки</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="СодСвИтПрием" use="required">
                    <xs:annotation>
                      <xs:documentation>Содержание сведений по итогам приемки</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Подписант">
                <xs:annotation>
                  <xs:documentation>Сведения о лице, подписавшем файл обмена дополнительных сведений по результатам приемки в электронной форме</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="ФЛ" type="СвФлТип">
                      <xs:annotation>
                        <xs:documentation>Физическое лицо</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ИП" type="СвИПТип">
                      <xs:annotation>
                        <xs:documentation>Индивидуальный предприниматель</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ЮЛ">
                      <xs:annotation>
                        <xs:documentation>Представитель юридического лица</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ФИО" type="ФИОТип">
                            <xs:annotation>
                              <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                          <xs:annotation>
                            <xs:documentation>ИНН организации</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="НаимОрг" use="optional">
                          <xs:annotation>
                            <xs:documentation>Наименование</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="1000" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Должн" use="required">
                          <xs:annotation>
                            <xs:documentation>Должность</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="128" />
                              <xs:minLength value="1" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ИныеСвед" use="optional">
                          <xs:annotation>
                            <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="255" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="ОблПолн" use="required">
                    <xs:annotation>
                      <xs:documentation>Область полномочий</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="2" />
                        <xs:enumeration value="21" />
                        <xs:enumeration value="22" />
                        <xs:enumeration value="23" />
                        <xs:enumeration value="29" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Статус" use="required">
                    <xs:annotation>
                      <xs:documentation>Статус</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="2" />
                        <xs:enumeration value="1" />
                        <xs:enumeration value="3" />
                        <xs:enumeration value="4" />
                        <xs:enumeration value="5" />
                        <xs:enumeration value="6" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснПолн" use="required">
                    <xs:annotation>
                      <xs:documentation>Основание полномочий подписанта  (доверия подписанту)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснПолнОрг" use="optional">
                    <xs:annotation>
                      <xs:documentation>Основание полномочий (доверия) организации</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="КНД" use="required">
              <xs:annotation>
                <xs:documentation>Код формы по КНД</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="КНДТип">
                  <xs:enumeration value="1175015" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ДатаДок" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата  формирования документа</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ВремДок" type="ВремяТип" use="required">
              <xs:annotation>
                <xs:documentation>Время формирования документа</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="НаимЭконСубСост" use="required">
              <xs:annotation>
                <xs:documentation>Наименование экономического субъекта – составителя файла обмена дополнительных сведений по результатам приемки</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:maxLength value="1000" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ОснДоверОргСост" use="optional">
              <xs:annotation>
                <xs:documentation>Основание, по которому экономический субъект является составителем файла обмена дополнительных сведений по результатам приемки</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:maxLength value="120" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ИдФайл" use="required">
        <xs:annotation>
          <xs:documentation>Идентификатор файла</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="5" />
            <xs:enumeration value="5.01" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсПрог" use="required">
        <xs:annotation>
          <xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ИнфПолТип">
    <xs:annotation>
      <xs:documentation>Информационное поле</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ТекстИнф" type="ТекстИнфТип">
        <xs:annotation>
          <xs:documentation>Текстовая информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ИдФайлИнфПол" use="optional">
      <xs:annotation>
        <xs:documentation> Идентификатор файла информационного поля</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="36" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="СвФлТип">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ФИО" type="ФИОТип">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
      <xs:annotation>
        <xs:documentation>ИНН</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ИныеСвед" use="optional">
      <xs:annotation>
        <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="СвИПТип">
    <xs:annotation>
      <xs:documentation>Сведения об индивидуальном предпринимателе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ФИО" type="ФИОТип">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
      <xs:annotation>
        <xs:documentation>ИНН</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="СвГосРегИП" use="optional">
      <xs:annotation>
        <xs:documentation>Реквизиты свидетельства о государственной регистрации</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="100" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИныеСвед" use="optional">
      <xs:annotation>
        <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ТекстИнфТип">
    <xs:annotation>
      <xs:documentation>Текстовая информация</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Идентиф" use="required">
      <xs:annotation>
        <xs:documentation>Идентификатор</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Значен" use="required">
      <xs:annotation>
        <xs:documentation>Значение</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="2000" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФИОТип">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Фамилия" use="required">
      <xs:annotation>
        <xs:documentation>Фамилия</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Имя" use="required">
      <xs:annotation>
        <xs:documentation>Имя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Отчество" use="optional">
      <xs:annotation>
        <xs:documentation>Отчество</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ИННФЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="12" />
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННЮЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - юридического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10" />
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="КППТип">
    <xs:annotation>
      <xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="9" />
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="КНДТип">
    <xs:annotation>
      <xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="7" />
      <xs:pattern value="[0-9]{7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="БИКТип">
    <xs:annotation>
      <xs:documentation>БИК банка</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="9" />
      <xs:pattern value="[0-9]{9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОКЕИТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора единиц измерения</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="4" />
      <xs:pattern value="[0-9]{3}|[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОКОПФТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора организационно-правовых форм хозяйствующих субъектов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2" />
      <xs:pattern value="[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОКСМТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3" />
      <xs:pattern value="[0-9]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CCРФТип">
    <xs:annotation>
      <xs:documentation>Код из Справочника субъекта Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2" />
      <xs:pattern value="[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ВремяТип">
    <xs:annotation>
      <xs:documentation>Время в формате ЧЧ.ММ.СС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="8" />
      <xs:pattern value="([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})\.([0-5]{1}[0-9]{1})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ДатаВремяТип">
    <xs:annotation>
      <xs:documentation>Дата и время в формате ДД.ММ.ГГГГ ЧЧ.ММ.СС (01.01.1800 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="19" />
      <xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})\s([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})\.([0-5]{1}[0-9]{1})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ДатаТип">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10" />
      <xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>