docs/source/xsd/DP_ZAKTPRM_1_990_00_05_01_02.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by 1 (GNIVC FNS RF) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Файл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СвУчДокОбор">
					<xs:annotation>
						<xs:documentation>Сведения об участниках электронного документооборота</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвОЭДОтпрСФ">
								<xs:annotation>
									<xs:documentation>Сведения об операторе электронного документооборота отправителя в рамках ЭДО счет-фактур</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="НаимОрг" use="required">
										<xs:annotation>
											<xs:documentation>Наименование</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="1000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
										<xs:annotation>
											<xs:documentation>ИНН</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ИдЭДОСФ" use="required">
										<xs:annotation>
											<xs:documentation>Идентификатор оператора ЭДО в рамках ЭДО счет-фактур</xs:documentation>
											<xs:documentation>Идентификатор оператора электронного оборота счетами-фактурами и первичными документами (оператор ЭДО СФ) - символьный трехзначный код. В значении идентификатора допускаются символы латинского алфавита A-Z, a–z, цифры 0–9, знаки «@», «.», «-». Значение идентификатора регистронезависимо. При включении оператора ЭДО СФ в сеть доверенных операторов ЭДО СФ ФНС России, идентификатор присваивается Федеральной налоговой службой</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдОтпр" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор участника документооборота, принявшего работы (услуги)</xs:documentation>
								<xs:documentation>Значение элемента представляется в виде ИдОЭДОСФ||КодПрод(Пок), где:
ИдОЭДОСФ - идентификатор оператора электронного оборота счетами-фактурами и первичными документами (оператор ЭДО СФ) - символьный трехзначный код. При включении оператора ЭДО СФ в сеть доверенных операторов ЭДО СФ ФНС России, идентификатор присваивается Федеральной налоговой службой;
КодПрод(Пок) - код продавца (покупателя) - уникальный код участника, присваиваемый оператором электронного документооборота СФ, длина кода продавца (покупателя) не более 43 символов</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="4"/>
									<xs:maxLength value="46"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ИдПок" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор участника документооборота, выполнившего работы (оказавшего услуги)</xs:documentation>
								<xs:documentation>Значение элемента представляется в виде ИдОЭДОСФ||КодПрод(Пок), где:
ИдОЭДОСФ - идентификатор оператора электронного оборота счетами-фактурами и первичными документами (оператор ЭДО СФ) - символьный трехзначный код. При включении оператора ЭДО СФ в сеть доверенных операторов ЭДО СФ ФНС России, идентификатор присваивается Федеральной налоговой службой;
КодПрод(Пок) - код продавца (покупателя) - уникальный код участника, присваиваемый оператором электронного документооборота СФ, длина кода продавца (покупателя) не более 43 символов</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="4"/>
									<xs:maxLength value="46"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Документ">
					<xs:annotation>
						<xs:documentation>Состав и структура передаваемых сведений</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвАктИ">
								<xs:annotation>
									<xs:documentation>Акт о выполнении работ (оказании услуг) - титул заказчика</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ИдАктИ">
											<xs:annotation>
												<xs:documentation>Идентификация акта о выполнении работ (оказании услуг) - титул исполнителя</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="ИдФайлАктИ" use="required">
													<xs:annotation>
														<xs:documentation>Идентификатор файла акта о выполнении работ (оказании услуг) - титул исполнителя</xs:documentation>
														<xs:documentation>Содержит (повторяет) имя сформированного файла  (без  расширения)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="200"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаДокАктИ" type="ДатаТип" use="required">
													<xs:annotation>
														<xs:documentation>Дата формирования документа акт о выполнении работ (оказании услуг) - титул исполнителя</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ВремДокАктИ" type="ВремяТип" use="required">
													<xs:annotation>
														<xs:documentation>Время формирования  документа акт о выполнении работ (оказании услуг) - титул исполнителя</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвАктИ">
											<xs:annotation>
												<xs:documentation>Сведения акта о выполнении работ (оказании услуг) - титул исполнителя</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="НомАкт" use="optional">
													<xs:annotation>
														<xs:documentation>Номер акта  о выполнении работ (оказании услуг), титул исполнителя</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="256"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаАкт" type="ДатаТип" use="required">
													<xs:annotation>
														<xs:documentation>Дата составления акта  о выполнении работ (оказании услуг, титул исполнителя</xs:documentation>
														<xs:documentation>Обязателен согласно подп. «б» п.2 ст. 9 Федерального закона от 21.11.1996 №129-ФЗ</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Принял">
											<xs:annotation>
												<xs:documentation>Принял</xs:documentation>
												<xs:documentation>Обязателен согласно подп. 6 п. 2 ст. 9 Федерального закона от 06.12.2011 № 402-ФЗ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ПодписьЗаказ" type="ДолжЛицоТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Должностное лицо, представляющее заказчика работ (услуг)</xs:documentation>
															<xs:documentation>Согласно подп. 3 п. 2 ст. 9 Федерального закона от 06.12.2011 № 402-ФЗ обязателен, если отсутствует ДоверенЗаказ</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ДоверенЗаказ" type="ДоверенностьТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о доверенности подписывающего со стороны заказчика работ (услуг)</xs:documentation>
															<xs:documentation>Согласно подп. 3 п. 2 ст. 9 Федерального закона от 06.12.2011 № 402-ФЗ обязателен, если отсутствует ПодписьЗаказ</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ДатаЗаказ" type="ДатаТип" use="optional">
													<xs:annotation>
														<xs:documentation>Дата подписи акта Заказчиком</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Претенз" use="optional">
													<xs:annotation>
														<xs:documentation>Претензии</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="2000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="ИнфПол" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Информационное поле</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="ТекстИнф" use="optional">
													<xs:annotation>
														<xs:documentation>Текстовая информация</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="0"/>
															<xs:maxLength value="2000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ИдФайлИнфПол" use="optional">
													<xs:annotation>
														<xs:documentation>Идентификатор  файла информационного поля</xs:documentation>
														<xs:documentation>GUID. 
														Указывается идентификатор файла, связанного со сведениями данного акта</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="36"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="НаимПервДок" use="required">
										<xs:annotation>
											<xs:documentation>Наименование первичного документа  </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												<xs:enumeration value="Акт о выполнении работ (оказании услуг)"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Подписант">
								<xs:annotation>
									<xs:documentation>Сведения о лице, подписывающем документ в электронном виде</xs:documentation>
									<!--     Сведения о представителе присутствуют только если признак подписанта принимает значение 2          -->
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="ИП">
											<xs:annotation>
												<xs:documentation>Индивидуальный предприниматель</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИО" type="ФИОТип">
														<xs:annotation>
															<xs:documentation>Фамилия, Имя, Отчество</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН индивидуального предпринимателя</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="СвГосРегИП" use="optional">
													<xs:annotation>
														<xs:documentation>Реквизиты свидетельства о государственной регистрации ИП</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="ЮЛ">
											<xs:annotation>
												<xs:documentation>Организация</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИО" type="ФИОТип">
														<xs:annotation>
															<xs:documentation>Фамилия, Имя, Отчество</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Должн" use="required">
													<xs:annotation>
														<xs:documentation>Должность</xs:documentation>
														<xs:documentation>Обязателен согласно подп. 6 п. 2 ст. 9 Федерального закона от 06.12.2011 № 402-ФЗ</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="128"/>
															<xs:minLength value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="КНД" use="required">
							<xs:annotation>
								<xs:documentation>Код формы по КНД</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="КНДТип">
									<xs:enumeration value="1175007"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаДок" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Дата формирования документа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ВремДок" type="ВремяТип" use="required">
							<xs:annotation>
								<xs:documentation>Время формирования документа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:documentation>Содержит (повторяет) имя сформированного файла  (без  расширения)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="optional">
				<xs:annotation>
					<xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ДоверенностьТип">
		<xs:annotation>
			<xs:documentation>Сведения о доверенности</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ВыданаКем" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Доверенность выдана кем</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ФИО" type="ФИОТип" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Фамилия, имя, отчество выдавшего доверенность</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="НаимОргКем" use="optional">
						<xs:annotation>
							<xs:documentation>Наименование организации, выдавшей доверенность</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="1000"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ДолжнКем" use="optional">
						<xs:annotation>
							<xs:documentation>Должность выдавшего доверенность</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="128"/>
								<xs:minLength value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ДопСведКем" use="optional">
						<xs:annotation>
							<xs:documentation>Дополнительные сведения о выдаче доверенности</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="0"/>
								<xs:maxLength value="1000"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="ВыданаКому" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Доверенность выдана кому</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ФИО" type="ФИОТип">
							<xs:annotation>
								<xs:documentation>Фамилия, имя, отчество доверенного лица</xs:documentation>
								<xs:documentation>Обязателен согласно подп. 6 и 7 п. 2 ст. 9 Федерального закона от 06.12.2011 № 402-ФЗ</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Должн" use="optional">
						<xs:annotation>
							<xs:documentation>Должность доверенного лица в организации, выдавшей доверенность</xs:documentation>
							<xs:documentation>Согласно подп. 6 п. 2 ст. 9 Федерального закона от 06.12.2011 № 402-ФЗ обязателен в случае выдачи должностному лицу организации</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="128"/>
								<xs:minLength value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="ДопСведКому" use="optional">
						<xs:annotation>
							<xs:documentation>Дополнительные сведения о доверенном лице</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="0"/>
								<xs:maxLength value="1000"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="НомДоверен" use="optional">
			<xs:annotation>
				<xs:documentation>Номер доверенности</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ДатаДоверен" type="ДатаТип" use="optional">
			<xs:annotation>
				<xs:documentation>Дата выдачи доверенности</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ДолжЛицоТип">
		<xs:annotation>
			<xs:documentation>Сведения о должностном лице</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ФИО" type="ФИОТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Должность" use="optional">
			<xs:annotation>
				<xs:documentation>Должность</xs:documentation>
				<xs:documentation>Обязателен согласно подп. 6 п. 2 ст. 9 Федерального закона от 06.12.2011 № 402-ФЗ в случае подписи  должностным лицом организации</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ВремяТип">
		<xs:annotation>
			<xs:documentation>Время в формате ЧЧ.ММ.СС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern value="([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})\.([0-5]{1}[0-9]{1})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП) </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-F]{2})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КНДТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCРФТип">
		<xs:annotation>
			<xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
