docs/source/xsd/ON_AKTREZRABZ_1_971_02_01_00_01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Файл">
    <xs:annotation>
      <xs:appinfo>
        <sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
          <sch:rule context="Файл">
            <!--  1. Проверка имени файла на соответствие ИдФайл  -->
            <sch:assert test="usch:getFileName() = @ИдФайл">
              <usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">Имя файла обмена "<usch:value-of select="usch:getFileName()" />" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл" />"</usch:error>
            </sch:assert>
          </sch:rule>
        </sch:pattern>
      </xs:appinfo>
      <xs:documentation>Файл обмена</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Документ">
          <xs:annotation>
            <xs:appinfo>
              <sch:pattern name="Проверка присутствия элемента ДопПолеСтрИнф" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                <sch:rule context="Документ">
                  <sch:assert test="usch:iif(СодФХЖ4/@ПрГосМун=1, count(ДопПолеСтрИнф)!=0, count(ДопПолеСтрИнф)=0)">
                    <usch:error code="0400300003" path="ДопПолеСтрИнф" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент ДопПолеСтрИнф обязателен при ПрГосМун, равном 1, и должен отсутствовать в остальных случаях </usch:error>
                  </sch:assert>
                </sch:rule>
              </sch:pattern>
            </xs:appinfo>
            <xs:documentation>Акт о приемке выполненных работ, информация заказчика</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ОснДоверОргСост" type="ИдРеквДокТип">
                <xs:annotation>
                  <xs:documentation>Основание, по которому экономический субъект является составителем файла обмена информации заказчика</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ИдИнфПодр">
                <xs:annotation>
                  <xs:documentation>Идентификация файла обмена информации подрядчика</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ЭП">
                      <xs:annotation>
                        <xs:documentation>Электронная подпись файла обмена информации подрядчика</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ИдФайлИнфПодр" use="required">
                    <xs:annotation>
                      <xs:documentation>Идентификатор файла обмена информации подрядчика</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ДатаФайлИнфПодр" type="ДатаТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Дата формирования файла обмена информации подрядчика</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ВремяФайлИнфПодр" type="ВремяТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Время формирования файла обмена информации подрядчика</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="СодФХЖ4">
                <xs:annotation>
                  <xs:appinfo>
                    <sch:pattern name="Проверка присутствия элемента ДопПолеСтрИнф" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                      <sch:rule context="СодФХЖ4">
                        <sch:assert test="usch:iif(@ПрГосМун=1, count(ДопПолеСтрИнф)!=0, count(ДопПолеСтрИнф)=0)">
                          <usch:error code="0400300003" path="ДопПолеСтрИнф" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент ДопПолеСтрИнф обязателен при ПрГосМун, равном 1, и должен отсутствовать в остальных случаях </usch:error>
                        </sch:assert>
                      </sch:rule>
                    </sch:pattern>
                  </xs:appinfo>
                  <xs:appinfo>
                    <sch:pattern name="Проверка присутствия элемента ИзвОРасч" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                      <sch:rule context="СодФХЖ4">
                        <sch:assert test="usch:iif(СвПрием/@КодСодОпер=0, count(ИзвОРасч)=0, count(ИзвОРасч)!=0 or count(ИзвОРасч)=0)">
                          <usch:error code="0400300003" path="" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент ИзвОРасч должен отсутствовать при КодСодОпер=0 </usch:error>
                        </sch:assert>
                      </sch:rule>
                    </sch:pattern>
                  </xs:appinfo>
                  <xs:documentation>Сведения о приемке результатов выполненных работ (содержание факта хозяйственной жизни 4)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="СвПрием">
                      <xs:annotation>
                        <xs:appinfo>
                          <sch:pattern name="Проверка отсутствия элемента СодОпер" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                            <sch:rule context="СвПрием">
                              <sch:assert test="usch:iif(@КодСодОпер=0, count(@СодОпер)=0, count(@СодОпер)!=0 or count(@СодОпер)=0)">
                                <usch:error code="0400300003" path="" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент СодОпер должен отсутствовать при КодСодОпер=0 </usch:error>
                              </sch:assert>
                            </sch:rule>
                          </sch:pattern>
                        </xs:appinfo>
                        <xs:appinfo>
                          <sch:pattern name="Проверка присутствия элемента СодОпер и КодСодОпер" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                            <sch:rule context="СвПрием">
                              <sch:assert test="count(@СодОпер)!=0 or count(@КодСодОпер)!=0">
                                <usch:error code="0400300001" path="" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: хотя бы один из элементов СодОпер или КодСодОпер должен присутсвовать </usch:error>
                              </sch:assert>
                            </sch:rule>
                          </sch:pattern>
                        </xs:appinfo>
                        <xs:appinfo>
                          <sch:pattern name="Проверка значения элемента КодСодОпер" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                            <sch:rule context="СвПрием">
                              <sch:assert test="usch:iif(../@ПрГосМун=0, @КодСодОпер!=2 and @КодСодОпер!=4 and @КодСодОпер!=5, count(@КодСодОпер)!=0 or count(@КодСодОпер)=0)">
                                <usch:error code="0400400007" path="" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: При значении элемента ПрГосМун=1 значения 2, 4 и 5 не применяются</usch:error>
                              </sch:assert>
                            </sch:rule>
                          </sch:pattern>
                        </xs:appinfo>
                        <xs:appinfo>
                          <sch:pattern name="Проверка присутствия элемента ИнфОтказПрием и ИдДокОтказ" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                            <sch:rule context="СвПрием">
                              <sch:assert test="usch:iif(@КодСодОпер=0, count(@ИнфОтказПрием)!=0 and count(ИдДокОтказ)!=0, count(@ИнфОтказПрием)!=0 or count(@ИнфОтказПрием)=0)">
                                <usch:error code="0400300003" path="" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент ИнфОтказПрием и ИдДокОтказ должны  присутствовать при КодСодОпер=0 </usch:error>
                              </sch:assert>
                            </sch:rule>
                          </sch:pattern>
                        </xs:appinfo>
                        <xs:appinfo>
                          <sch:pattern name="Проверка присутствия элемента ИнфОНедостатк и ИдДокОНедостатк" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                            <sch:rule context="СвПрием">
                              <sch:assert test="usch:iif(@КодСодОпер=2 or @КодСодОпер=4 or @КодСодОпер=5, count(@ИнфОНедостатк)!=0 and count(ИдДокОНедостатк)!=0, count(@ИнфОНедостатк)!=0 or count(@ИнфОНедостатк)=0)">
                                <usch:error code="0400300003" path="" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент ИнфОтказПрием и ИдДокОНедостатк должны присутствовать при КодСодОпер=2, 4, 5</usch:error>
                              </sch:assert>
                            </sch:rule>
                          </sch:pattern>
                        </xs:appinfo>
                        <xs:appinfo>
                          <sch:pattern name="Проверка присутствия элемента ДатаПрин и ДатаОтказПрин" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                            <sch:rule context="СвПрием">
                              <sch:assert test="usch:iif(@КодСодОпер=0, count(ДатаОтказПрин)!=0, count(ДатаПрин)!=0)">
                                <usch:error code="0400300003" path="" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент ДатаОтказПрин должен  присутствовать при КодСодОпер=0 или Элемент ДатаПрин должен  присутствовать при КодСодОпер=1,2,4,5</usch:error>
                              </sch:assert>
                            </sch:rule>
                          </sch:pattern>
                        </xs:appinfo>
                        <xs:appinfo>
                          <sch:pattern name="Проверка присутствия элемента ИтогУмСтоимДог" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                            <sch:rule context="СвПрием">
                              <sch:assert test="usch:iif(@КодСодОпер=4, count(ИтогУмСтоимДог)!=0, count(ИтогУмСтоимДог)!=0 or count(ИтогУмСтоимДог)=0)">
                                <usch:error code="0400300003" path="" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент  ИтогУмСтоимДог должен  присутствовать при КодСодОпер=4</usch:error>
                              </sch:assert>
                            </sch:rule>
                          </sch:pattern>
                        </xs:appinfo>
                        <xs:documentation>Информация (сведения) о приемке результатов работ</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:choice>
                            <xs:element minOccurs="0" name="ДатаПрин" type="ДатаТип">
                              <xs:annotation>
                                <xs:documentation>Дата принятия результатов выполненных работ</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="ДатаОтказПрин" type="ДатаТип">
                              <xs:annotation>
                                <xs:documentation>Дата отказа от принятия результатов выполненных работ</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:choice>
                          <xs:element minOccurs="0" name="ИдДокОтказ" type="ИдРеквДокТип">
                            <xs:annotation>
                              <xs:documentation>Идентифицирующие признаки документа о причинах отказа в приемке (о существенных расхождениях)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="ИдДокОНедостатк" type="ИдРеквДокТип">
                            <xs:annotation>
                              <xs:documentation>Идентифицирующие признаки документа об устранимых недостатках, выявленных при приемке</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="ИтогУмСтоимДог">
                            <xs:annotation>
                              <xs:documentation>Итоги принятия работ с устранимыми недостатками на условиях соразмерного уменьшения стоимости договора строительного подряда </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:choice>
                                <xs:element minOccurs="0" name="СумНалИтог">
                                  <xs:annotation>
                                    <xs:documentation>Сумма НДС, предъявляемая покупателю итого</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="19" />
                                      <xs:fractionDigits value="2" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element minOccurs="0" name="ОтсСумНДС">
                                  <xs:annotation>
                                    <xs:documentation>Случаи отсутствия суммы НДС, предъявляемой покупателю</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="1" />
                                      <xs:enumeration value="-" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:choice>
                              <xs:attribute name="СтТовБезНДСИтог" use="required">
                                <xs:annotation>
                                  <xs:documentation>Стоимость товаров (работ, услуг) без учета суммы НДС - итого</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="19" />
                                    <xs:fractionDigits value="2" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="СтТовУчНалИтог" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Стоимость товаров (работ, услуг с налогом – итого</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="19" />
                                    <xs:fractionDigits value="2" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ИтогКПеречислОтч" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Итого к перечислению подрядчику за оформляемый (отчетный) период с учетом уменьшения стоимости договора в связи с выявлением при приемке неустранимых недостатков</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="19" />
                                    <xs:fractionDigits value="2" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ИтогКПеречислСНач" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Итого к перечислению подрядчику с начала строительства с учетом уменьшения стоимости договора в связи с выявлением при приемке неустранимых недостатков</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="19" />
                                    <xs:fractionDigits value="2" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="СодОпер" use="optional">
                          <xs:annotation>
                            <xs:documentation>Содержание операции (текст, подтверждающий событие, повлекшее за собой изменение финансового состояния заказчика)</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="255" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="КодСодОпер" use="optional">
                          <xs:annotation>
                            <xs:documentation>Код содержания операции</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="1" />
                              <xs:enumeration value="0" />
                              <xs:enumeration value="1" />
                              <xs:enumeration value="2" />
                              <xs:enumeration value="4" />
                              <xs:enumeration value="5" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ИнфОтказПрием" use="optional">
                          <xs:annotation>
                            <xs:documentation>Информация о причинах отказа в приемке</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="2000" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ИнфОНедостатк" use="optional">
                          <xs:annotation>
                            <xs:documentation>Информация об устранимых недостатках, выявленных при приемке</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="2000" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="СумНДФЛ" use="optional">
                          <xs:annotation>
                            <xs:documentation>Сумма налога на доходы физических лиц, подлежащего удержанию из сумм, выплачиваемых по договору подрядчику - физическому лицу</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19" />
                              <xs:fractionDigits value="2" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ИзвОРасч">
                      <xs:annotation>
                        <xs:appinfo>
                          <sch:pattern name="Проверка присутствия элемента ПричНесогРасч и ИдЛишнДок и ПричНесогРасч" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                            <sch:rule context="ИзвОРасч">
                              <sch:assert test="usch:iif(count(НеСоглРасч)!=0, count(@ПричНесогРасч)!=0 and count(ИдНеучтенДок)!=0 and count(ИдЛишнДок)!=0, count(@ПричНесогРасч)=0 and count(ИдНеучтенДок)=0 and count(ИдЛишнДок)=0)">
                                <usch:error code="0400300003" path="" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент ПричНесогРасч и ИдЛишнДок и ПричНесогРасч должен  присутствовать при наличии элемента НеСоглРасч</usch:error>
                              </sch:assert>
                            </sch:rule>
                          </sch:pattern>
                        </xs:appinfo>
                        <xs:documentation>Извещение заказчика о согласии / не согласии с представленными подрядчиком сведениями о расчетах по итогам принятия работ </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="ИдНеучтенДок" type="ИдРеквДокТип">
                            <xs:annotation>
                              <xs:documentation>Идентифицирующие признаки документов, не учтенных подрядчиком при предоставлении сведений о расчетах</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="ИдЛишнДок" type="ИдРеквДокТип">
                            <xs:annotation>
                              <xs:documentation>Идентифицирующие признаки документов, излишне учтенных подрядчиком при предоставлении сведений о расчетах</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ПричНесогРасч" use="optional">
                          <xs:annotation>
                            <xs:documentation>Информация о причинах несогласия с представленными подрядчиком сведениями о расчетах</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="2000" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ИзвПоРасч" use="required">
                          <xs:annotation>
                            <xs:documentation>Извещение заказчика в отношении расчетов по итогам принятия работ</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="300" />
                              <xs:enumeration value="С представленными подрядчиком сведениями о расчетах согласен" />
                              <xs:enumeration value="С представленными подрядчиком сведениями о расчетах согласен, есть информация о дополнительных удержаниях заказчиком в соответствии с законодательством о контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд" />
                              <xs:enumeration value="С представленными подрядчиком сведениями о расчетах не согласен" />
                              <xs:enumeration value="Представленные подрядчиком сведения о расчетах по договору на момент приемки работ не сверялись" />
                              <xs:enumeration value="Условиями договора строительного подряда сверка расчетов по договору непосредственно в акте о приемке выполненных работ не предусмотрена" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ИнфПолФХЖ4" type="ИнфПолТип">
                      <xs:annotation>
                        <xs:documentation>Информационное поле факта хозяйственной жизни 4</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ДопПолеСтрИнф" type="ДопПолеСтрИнфТип">
                      <xs:annotation>
                        <xs:documentation>Дополнительное поле для отражения структурированной информации</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="НомПостДок" use="required">
                    <xs:annotation>
                      <xs:documentation>Номер поступившего документа (акта о приемке выполненных работ)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ДатаПостДок" type="ДатаТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Дата поступившего документа (акта о приемке выполненных работ)</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ВидОпер" use="optional">
                    <xs:annotation>
                      <xs:documentation>Вид операции</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ПрГосМун" use="required">
                    <xs:annotation>
                      <xs:documentation>Признак строительства для государственных и муниципальных нужд </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="1" />
                        <xs:enumeration value="0" />
                        <xs:enumeration value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="ПодписантЗак">
                <xs:annotation>
                  <xs:appinfo>
                    <sch:pattern name="Проверка присутствия элемента ДопПолеСтрИнф" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                      <sch:rule context="ПодписантЗак">
                        <sch:assert test="usch:iif(../СодФХЖ4/@ПрГосМун=1, count(ДопПолеСтрИнф)!=0, count(ДопПолеСтрИнф)=0)">
                          <usch:error code="0400300003" path="ДопПолеСтрИнф" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент ДопПолеСтрИнф обязателен при ПрГосМун, равном 1, и должен отсутствовать в остальных случаях </usch:error>
                        </sch:assert>
                      </sch:rule>
                    </sch:pattern>
                  </xs:appinfo>
                  <xs:documentation>Сведения о подписанте файла обмена информации заказчика в электронной форме</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Подписант" type="ПодписантТип">
                      <xs:annotation>
                        <xs:documentation>Сведения о лице, подписывающем файл обмена в электронной форме (включая сведения о доверенности)</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ДопПолеСтрИнф" type="ДопПолеСтрИнфТип">
                      <xs:annotation>
                        <xs:documentation>Дополнительное поле для отражения структурированной информации</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ДопПолеСтрИнф" type="ДопПолеСтрИнфТип">
                <xs:annotation>
                  <xs:documentation>Дополнительное поле для отражения структурированной информации</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="КНД" use="required">
              <xs:annotation>
                <xs:documentation>Код документа по КНД</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="КНДТип">
                  <xs:enumeration value="1110336" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ДатИнфЗак" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата формирования файла обмена информации заказчика</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ВрИнфЗак" type="ВремяТип" use="required">
              <xs:annotation>
                <xs:documentation>Время формирования файла обмена информации заказчика</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="НаимЭконСубСост" use="required">
              <xs:annotation>
                <xs:documentation>Наименование экономического субъекта-составителя файла обмена информации заказчика</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:maxLength value="1000" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ИдФайл" use="required">
        <xs:annotation>
          <xs:documentation>Идентификатор файла</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсПрог" use="required">
        <xs:annotation>
          <xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="5" />
            <xs:enumeration value="1.00" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ИдРеквДокТип">
    <xs:annotation>
      <xs:documentation>Идентифицирующие признаки документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ТипИдДок" type="РеквДокТип">
        <xs:annotation>
          <xs:appinfo>
            <sch:pattern name="Присутствие элемента НаимДок, НомерДок, ДатаДок" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
              <sch:rule context="ТипИдДок">
                <sch:assert test="usch:iif(count(@ИдДок)=0 , count(@НаимДок)!=0, count(@НаимДок)!=0 or count(@НаимДок)=0)">
                  <usch:error code="0400300001" path="НаимДок" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">Не выполнено условие: Элемент НаимДок обязателен при отсутствии ИдДок </usch:error>
                </sch:assert>
                <sch:assert test="usch:iif(count(@ИдДок)=0 , count(@НомерДок)!=0, count(@НомерДок)!=0 or count(@НомерДок)=0)">
                  <usch:error code="0400300001" path="НомерДок" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">Не выполнено условие: Элемент НомерДок обязателен при отсутствии ИдДок </usch:error>
                </sch:assert>
                <sch:assert test="usch:iif(count(@ИдДок)=0 , count(@ДатаДок)!=0, count(@ДатаДок)!=0 or count(@ДатаДок)=0)">
                  <usch:error code="0400300001" path="ДатаДок" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">Не выполнено условие: Элемент ДатаДок обязателен при отсутствии ИдДок </usch:error>
                </sch:assert>
              </sch:rule>
            </sch:pattern>
          </xs:appinfo>
          <xs:appinfo>
            <sch:pattern name="Присутствие элемента ИдДок" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
              <sch:rule context="ТипИдДок">
                <sch:assert test="usch:iif(count(@НаимДок)=0 and count(@НомерДок)=0 and count(@ДатаДок)=0 , count(@ИдДок)!=0, count(@ИдДок)!=0 or count(@ИдДок)=0)">
                  <usch:error code="0400300001" path="ИдДок" value-of-select="" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">Не выполнено условие: Элемент ИдДок обязателен при отсутствии НаимДок, НомерДок, ДатаДок </usch:error>
                </sch:assert>
              </sch:rule>
            </sch:pattern>
          </xs:appinfo>
          <xs:documentation>Типовые идентифицирующие признаки документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ДопПолеСтрИнф" type="ДопПолеСтрИнфТип">
        <xs:annotation>
          <xs:documentation>Дополнительное поле для отражения структурированной информации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="РеквДокТип">
    <xs:annotation>
      <xs:documentation>Реквизиты документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ИдРекСост" type="ИдРекСостТип">
        <xs:annotation>
          <xs:documentation>Идентифицирующие реквизиты субъектов, в том числе составивших документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="НаимДок" use="optional">
      <xs:annotation>
        <xs:documentation>Наименование документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="НомерДок" use="optional">
      <xs:annotation>
        <xs:documentation>Номер документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ДатаДок" type="ДатаТип" use="optional">
      <xs:annotation>
        <xs:documentation>Дата документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ИдДок" use="optional">
      <xs:annotation>
        <xs:documentation>Идентификатор файла документа (в том числе регистрационный номер, если документ / сведения о таком документе содержатся в государственных информационных системах)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ДопСведДок" use="optional">
      <xs:annotation>
        <xs:documentation>Дополнительные сведения</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="2000" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ИдРекСостТип">
    <xs:annotation>
      <xs:documentation>Идентифицирующие реквизиты субъектов, в том числе составивших документ</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="ИННЮЛ" type="ИННЮЛТип">
        <xs:annotation>
          <xs:documentation>ИНН организации, состоящей на учете в налоговом органе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ИННФЛ" type="ИННФЛТип">
        <xs:annotation>
          <xs:documentation>ИНН физического лица, в том числе индивидуального предпринимателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ДаннИно" type="ДаннИноТип">
        <xs:annotation>
          <xs:appinfo>
            <sch:pattern name="Проверка присутствия элемента Стран, УдЛичнИнФЛ, Идентиф, ИныеСвед " xmlns:sch="http://purl.oclc.org/dsdl/schematron">
              <sch:rule context="ДаннИно">
                <sch:assert test="usch:iif(@ИдСтат='ИО', count(@Стран)!=0, count(@Стран)!=0 or count(@Стран)=0)">
                  <usch:error code="0400300003" path="Стран" value-of-select="@ИдСтат" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент Стран обязателен при ИдСтат, равном "<usch:value-of select="@ИдСтат" />" </usch:error>
                </sch:assert>
                <sch:assert test="usch:iif(@ИдСтат='ИО' and count(@Наим)=0 and count(@ИныеСвед)=0, count(@Идентиф)!=0, count(@Идентиф)!=0 or count(@Идентиф)=0)">
                  <usch:error code="0400300003" path="Идентиф" value-of-select="@ИдСтат" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент Идентиф обязателен при ИдСтат, равном "<usch:value-of select="@ИдСтат" />" и при отсутствии Наим и ИныеСвед </usch:error>
                </sch:assert>
                <sch:assert test="usch:iif(@ИдСтат='ИО' and count(@Наим)=0 and count(@Идентиф)=0, count(@ИныеСвед)!=0, count(@ИныеСвед)!=0 or count(@ИныеСвед)=0)">
                  <usch:error code="0400300003" path="ИныеСвед" value-of-select="@ИдСтат" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент ИныеСвед обязателен при ИдСтат, равном "<usch:value-of select="@ИдСтат" />" и при отсутствии Наим и Идентиф </usch:error>
                </sch:assert>
                <sch:assert test="usch:iif(@ИдСтат='ИГ', count(@Наим)!=0, count(@Наим)!=0 or count(@Наим)=0)">
                  <usch:error code="0400300003" path="Наим" value-of-select="@ИдСтат" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">"Не выполнено условие: Элемент Наим обязателен при ИдСтат, равном "<usch:value-of select="@ИдСтат" />" </usch:error>
                </sch:assert>
              </sch:rule>
            </sch:pattern>
          </xs:appinfo>
          <xs:documentation>Данные иностранной организации (иностранного гражданина), не состоящей(его) на учете в налоговых органах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="НаимОИВ">
        <xs:annotation>
          <xs:documentation>Краткое наименование органа исполнительной власти (специализированной уполномоченной организации), выдавшего документ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ДаннИноТип">
    <xs:annotation>
      <xs:documentation>Данные иностранной организации (иностранного гражданина), не состоящей(его) на учете в налоговых органах</xs:documentation>
    </xs:annotation>
    <xs:attribute name="ИдСтат" use="required">
      <xs:annotation>
        <xs:documentation>Идентификация статуса</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="25" />
          <xs:enumeration value="ИО" />
          <xs:enumeration value="ИГ" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Стран" use="optional">
      <xs:annotation>
        <xs:documentation>Страна</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Наим" use="optional">
      <xs:annotation>
        <xs:documentation>Наименование иностранной организации полное / Фамилия, имя, отчество (при наличии) иностранного гражданина</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="1000" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Идентиф" use="optional">
      <xs:annotation>
        <xs:documentation>Идентификатор иностранной организации (иностранного гражданина)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИныеСвед" use="optional">
      <xs:annotation>
        <xs:documentation>Иные сведения, идентифицирующие  иностранную организацию (иностранного гражданина)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ПодписантТип">
    <xs:annotation>
      <xs:documentation>Сведения о лице, подписывающем файл обмена в электронной форме</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ФИО" type="ФИОТип">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество (при наличии)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="СвДовер">
        <xs:annotation>
          <xs:documentation>Сведения о доверенности, используемой для подтверждения полномочий в электронной форме</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="НомДовер" use="optional">
            <xs:annotation>
              <xs:documentation>Единый регистрационный номер доверенности</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="36" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="ДатаНач" type="ДатаТип" use="optional">
            <xs:annotation>
              <xs:documentation>Дата совершения (выдачи) доверенности</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ВнНомДовер" use="optional">
            <xs:annotation>
              <xs:documentation>Внутренний регистрационный номер доверенности</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
                <xs:maxLength value="50" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="ДатаВнРегДовер" type="ДатаТип" use="optional">
            <xs:annotation>
              <xs:documentation>Дата внутренней регистрации доверенности</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="СведСистОтм" use="optional">
            <xs:annotation>
              <xs:documentation>Сведения об информационной системе, которая предоставляет техническую возможность получения информации о досрочном прекращении действия доверенности, в том числе в силу ее отмены доверителем</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
                <xs:maxLength value="500" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="СвДоверБум">
        <xs:annotation>
          <xs:documentation>Сведения о доверенности, используемой для подтверждения полномочий в бумажном виде</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ФИО" type="ФИОТип">
              <xs:annotation>
                <xs:documentation>Фамилия, имя, отчество (при наличии) лица, подписавшего доверенность</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="ДатаНач" type="ДатаТип" use="optional">
            <xs:annotation>
              <xs:documentation>Дата совершения (выдачи) доверенности</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ВнНомДовер" use="optional">
            <xs:annotation>
              <xs:documentation>Внутренний регистрационный номер доверенности</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
                <xs:maxLength value="50" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="СвИдДовер" use="optional">
            <xs:annotation>
              <xs:documentation>Сведения, идентифицирующие доверителя</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
                <xs:maxLength value="1000" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="СтатПодп" use="optional">
      <xs:annotation>
        <xs:documentation>Статус подписанта</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="1" />
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ТипПодпис" use="optional">
      <xs:annotation>
        <xs:documentation>Тип подписи</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="1" />
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИдСистХран" use="optional">
      <xs:annotation>
        <xs:documentation>Идентифицирующие сведения об информационной системе, в которой хранится доверенность, используемая для подтверждения полномочий в электронной форме</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="500" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Должн" use="optional">
      <xs:annotation>
        <xs:documentation>Должность</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ДопПолеСтрИнфТип">
    <xs:annotation>
      <xs:documentation>Дополнительное поле для отражения структурированной информации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any maxOccurs="unbounded" processContents="skip" />
    </xs:sequence>
    <xs:attribute name="ИмяДопПакета" use="optional">
      <xs:annotation>
        <xs:documentation>Имя дополнительного пакета</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="1000" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Версия" use="optional">
      <xs:annotation>
        <xs:documentation>Версия дополнительного пакета</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="5" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ИнфПолТип">
    <xs:annotation>
      <xs:documentation>Информационное поле</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ТекстИнф" type="ТекстИнфТип">
        <xs:annotation>
          <xs:documentation>Текстовая информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ИдФайлИнфПол" use="optional">
      <xs:annotation>
        <xs:documentation>Идентификатор файла информационного поля</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="36" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ТекстИнфТип">
    <xs:annotation>
      <xs:documentation>Текстовая информация</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Идентиф" use="required">
      <xs:annotation>
        <xs:documentation>Идентификатор</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Значение" use="required">
      <xs:annotation>
        <xs:documentation>Значение</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="2000" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФИОТип">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Фамилия" use="required">
      <xs:annotation>
        <xs:documentation>Фамилия</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Имя" use="required">
      <xs:annotation>
        <xs:documentation>Имя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Отчество" use="optional">
      <xs:annotation>
        <xs:documentation>Отчество</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="КНДТип">
    <xs:annotation>
      <xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="7" />
      <xs:pattern value="[0-9]{7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННЮЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10" />
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННФЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="12" />
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ВремяТип">
    <xs:annotation>
      <xs:documentation>Время в формате ЧЧ.ММ.СС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="8" />
      <xs:pattern value="([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})\.([0-5]{1}[0-9]{1})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ДатаТип">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10" />
      <xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>