docs/source/xsd/ON_KORSFAKT_1_911_01_05_01_02.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Файл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СвУчДокОбор">
					<xs:annotation>
						<xs:documentation>Сведения об участниках электронного документооборота</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвОЭДОтпр">
								<xs:annotation>
									<xs:documentation>Сведения об операторе электронного документооборота отправителя</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="НаимОрг" use="required">
										<xs:annotation>
											<xs:documentation>Наименование</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="1000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
										<xs:annotation>
											<xs:documentation>ИНН</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ИдЭДО" use="required">
										<xs:annotation>
											<xs:documentation>Уникальный идентификатор оператора ЭДО</xs:documentation>
											<xs:documentation>
											Идентификатор оператора электронного оборота счетами-фактурами (оператор ЭДО), услугами которого пользуется покупатель (продавец), символьный трехзначный код. В значении идентификатора допускаются символы латинского алфавита a–z, цифры 0–9, знаки «@», «.», «-». Значение идентификатора регистронезависимо. При включении оператора ЭДО в сеть доверенных операторов ЭДО ФНС России, идентификатор присваивается Федеральной налоговой службой</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдОтпр" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор участника документооборота, выставившего счет-фактуру (отправитель)</xs:documentation>
								<xs:documentation>
								Значение элемента представляется в виде ИдОЭДО||КодПрод(Пок), где:
ИдОЭДО - идентификатор оператора электронного оборота счетами-фактурами (оператор ЭДО), услугами которого пользуется покупатель (продавец), символьный трехзначный код.  При включении оператора ЭДО в сеть доверенных операторов ЭДО ФНС России, идентификатор присваивается Федеральной налоговой службой;
КодПрод(Пок) - код продавца (покупателя) - уникальный код участника, присваиваемый оператором электронного документооборота, услугами которого пользуется покупатель (продавец), длина кода продавца (покупателя) не более 43 символов</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="4"/>
									<xs:maxLength value="46"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ИдПок" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор участника документооборота счетов-фактур - покупателя</xs:documentation>
								<xs:documentation>
								Значение элемента представляется в виде ИдОЭДО||КодПрод(Пок), где:
ИдОЭДО - идентификатор оператора электронного оборота счетами-фактурами (оператор ЭДО), услугами которого пользуется покупатель (продавец), символьный трехзначный код.  При включении оператора ЭДО в сеть доверенных операторов ЭДО ФНС России, идентификатор присваивается Федеральной налоговой службой;
КодПрод(Пок) - код продавца (покупателя) - уникальный код участника, присваиваемый оператором электронного документооборота, услугами которого пользуется покупатель (продавец), длина кода продавца (покупателя) не более 43 символов </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="4"/>
									<xs:maxLength value="46"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Документ">
					<xs:annotation>
						<xs:documentation>Корректировочный cчет-фактура, применяемый при расчетах по налогу на добавленную стоимость</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвКСчФ">
								<xs:annotation>
									<xs:documentation>Сведения о корректировочном счете-фактуре</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ИспрКСчФ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Исправление корректировочного счета-фактуры (Строка 1а)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="НомИспрКСчФ" use="required">
													<xs:annotation>
														<xs:documentation>Исправление: № (Строка 1а)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаИспрКСчФ" type="ДатаТип" use="required">
													<xs:annotation>
														<xs:documentation>Исправление: Дата (Строка 1а)</xs:documentation>
														<xs:documentation>
											Дата в формате ДД.ММ.ГГГГ</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="ИспрСчФ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>С учетом исправления счета-фактуры (Строка 1б)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="НомИспрСчФ" use="required">
															<xs:annotation>
																<xs:documentation>Исправление: № (Строка 1а)</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="1"/>
																	<xs:maxLength value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
														<xs:attribute name="ДатаИспрСчФ" type="ДатаТип" use="required">
															<xs:annotation>
																<xs:documentation>Исправление: Дата  (Строка 1а)</xs:documentation>
																<xs:documentation>
											Дата в формате ДД.ММ.ГГГГ</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвПрод" type="СвПродПокТип">
											<xs:annotation>
												<xs:documentation>Сведения о продавце (строки 2, 2а, 2б)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СвПокуп" type="СвПродПокТип">
											<xs:annotation>
												<xs:documentation>Сведения о покупателе (строки 3, 3а, 3б)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ИнфПол" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Информационное поле документа</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="ТекстИнф" use="optional">
													<xs:annotation>
														<xs:documentation>Текстовая информация</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="0"/>
															<xs:maxLength value="2000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ИдФайлИнфПол" use="optional">
													<xs:annotation>
														<xs:documentation>Идентификатор файла информационного поля</xs:documentation>
														<xs:documentation>GUID. 
														Указывается идентификатор файла, содержащего информацию обмена</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="36"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="НомерКСчФ" use="required">
										<xs:annotation>
											<xs:documentation>Порядковый номер корректировочного счета-фактуры (Строка 1)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="256"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ДатаКСчФ" type="ДатаТип" use="required">
										<xs:annotation>
											<xs:documentation>Дата составления корректировочного счета-фактуры (Строка 1)</xs:documentation>
											<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="НомерСчФ" use="required">
										<xs:annotation>
											<xs:documentation>Порядковый номер счета-фактуры к которому составлен корректировочный счета-фактура (Строка 1б)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="256"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ДатаСчФ" type="ДатаТип" use="required">
										<xs:annotation>
											<xs:documentation>Дата составления счета-фактуры счета-фактуры к которому составлен корректировочный счета-фактура (Строка 1б)</xs:documentation>
											<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="КодОКВ" type="ОКВТип" use="required">
										<xs:annotation>
											<xs:documentation>Валюта: Код (Строка 4) </xs:documentation>
											<xs:documentation>
											Код по Общероссийскому классификатору валют</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ТаблКСчФ">
								<xs:annotation>
									<xs:documentation>Сведения таблицы корректировочного счета-фактуры</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведТов" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о товаре (работе, услуге)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СтТовБезНДС" type="СтоимТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Стоимость товаров (работ, услуг), имущественных прав без налога - всего (Графа 5)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="АкцизДо" type="СумАкцизТип">
														<xs:annotation>
															<xs:documentation>В том числе сумма акциза, до изменения (Графа 6, строка А)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="АкцизПосле" type="СумАкцизТип">
														<xs:annotation>
															<xs:documentation>В том числе сумма акциза, после изменения (Графа 6, строка Б)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="АкцизРазн" type="РазнСумНалТип">
														<xs:annotation>
															<xs:documentation>В том числе сумма акциза, увеличение (уменьшение) (Графа 6, строки В, Г)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="НалСтДо">
														<xs:annotation>
															<xs:documentation>Налоговая ставка, до изменения (Графа 7, строка А)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="НалСтВел" use="required">
																<xs:annotation>
																	<xs:documentation>Налоговая ставка - величина</xs:documentation>
																	<xs:documentation>Для величины налоговой ставки, принимающей значения 0 | 10 | 18 | 20, тип налоговой ставки (НалСтТип) - процент. Для величин налоговой ставки, принимающей значения 10/110 | 18/118, НалСтТип=дробь. Для величины налоговой ставки, принимающей значение "безНДС", НалСтТип=текст</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="7"/>
																		<xs:minLength value="1"/>
																		<xs:enumeration value="0"/>
																		<xs:enumeration value="10"/>
																		<xs:enumeration value="18"/>
																		<xs:enumeration value="20"/>
																		<xs:enumeration value="10/110"/>
																		<xs:enumeration value="18/118"/>
																		<xs:enumeration value="без НДС"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НалСтТип" use="required">
																<xs:annotation>
																	<xs:documentation>Тип налоговой ставки</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="7"/>
																		<xs:minLength value="5"/>
																		<xs:enumeration value="процент"/>
																		<xs:enumeration value="дробь"/>
																		<xs:enumeration value="текст"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="НалСтПосле">
														<xs:annotation>
															<xs:documentation>Налоговая ставка, после  изменения (Графа 7, строка Б)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="НалСтВел" use="required">
																<xs:annotation>
																	<xs:documentation>Налоговая ставка - величина</xs:documentation>
																	<xs:documentation>Для величины налоговой ставки, принимающей значения 0 | 10 | 18 | 20, тип налоговой ставки (НалСтТип) - процент. Для величин налоговой ставки, принимающей значения 10/110 | 18/118, НалСтТип=дробь. Для величины налоговой ставки, принимающей значение "безНДС", НалСтТип=текст</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="7"/>
																		<xs:minLength value="1"/>
																		<xs:enumeration value="0"/>
																		<xs:enumeration value="10"/>
																		<xs:enumeration value="18"/>
																		<xs:enumeration value="20"/>
																		<xs:enumeration value="10/110"/>
																		<xs:enumeration value="18/118"/>
																		<xs:enumeration value="без НДС"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НалСтТип" use="required">
																<xs:annotation>
																	<xs:documentation>Тип налоговой ставки</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="7"/>
																		<xs:minLength value="5"/>
																		<xs:enumeration value="процент"/>
																		<xs:enumeration value="дробь"/>
																		<xs:enumeration value="текст"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СумНалДо" type="СумНДСТип">
														<xs:annotation>
															<xs:documentation>В том числе сумма акциза, после изменения (Графа 6, строка Б)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СумНалПосле" type="СумНДСТип">
														<xs:annotation>
															<xs:documentation>Сумма налога, после изменения (Графа 8, строка Б)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СумНалРазн" type="РазнСумНалТип">
														<xs:annotation>
															<xs:documentation>Сумма налога, увеличение (уменьшение) (Графа 8, строки В, Г)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СтТовУчНал" type="СтоимТип">
														<xs:annotation>
															<xs:documentation>Стоимость товаров (работ, услуг), имущественных прав с налогом - всего (Графа 9)</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="НомСтр" use="required">
													<xs:annotation>
														<xs:documentation>Номер строки таблицы</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="6"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаимТов" use="required">
													<xs:annotation>
														<xs:documentation>Наименование товара (описание выполненных работ, оказанных услуг), имущественного права (Графа 1)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ОКЕИ_ТовДо" type="ОКЕИТип" use="optional">
													<xs:annotation>
														<xs:documentation>Код единицы измерения, до изменения (Графа 2, строка А)</xs:documentation>
														<xs:documentation>
														Код по Общероссийскому классификатору единиц измерения</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ОКЕИ_ТовПосле" type="ОКЕИТип" use="optional">
													<xs:annotation>
														<xs:documentation>Код единицы измерения, после изменения (Графа 2, строка Б)</xs:documentation>
														<xs:documentation>
														Код по Общероссийскому классификатору единиц измерения</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КолТовДо" use="optional">
													<xs:annotation>
														<xs:documentation>Количество (объем), до изменения (Графа 3, строка А)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="\s*((\d{1,18}(\.)?)|(\d{1,17}(\.\d{0,1})?)|(\d{1,16}(\.\d{0,2})?)|(\d{1,15}(\.\d{0,3})?)|(\d{0,15}(\.\d{1,3})?))\s*"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КолТовПосле" use="optional">
													<xs:annotation>
														<xs:documentation>Количество (объем), после изменения (Графа 3, строка Б)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="\s*((\d{1,18}(\.)?)|(\d{1,17}(\.\d{0,1})?)|(\d{1,16}(\.\d{0,2})?)|(\d{1,15}(\.\d{0,3})?)|(\d{0,15}(\.\d{1,3})?))\s*"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ЦенаТовДо" use="optional">
													<xs:annotation>
														<xs:documentation>Цена (тариф) за единицу измерения, до изменения (Графа 4, строка А)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ЦенаТовПосле" use="optional">
													<xs:annotation>
														<xs:documentation>Цена (тариф) за единицу измерения, после изменения (Графа 4, строка Б)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ИнфПолСтр" use="optional">
													<xs:annotation>
														<xs:documentation>Информационное поле строки</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="0"/>
															<xs:maxLength value="2000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="ВсегоУвел" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Реквизиты строки Всего увеличение (сумма строк (В) по графам 5, 8 и 9)</xs:documentation>
												<xs:documentation>Обязателен при отсутствии ВсегоУм</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СумНал" type="СумНДСТип">
														<xs:annotation>
															<xs:documentation>Всего увеличение, Сумма налога (строка Всего увеличение/Графа 8)</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="СтТовБезНДСВсего" use="optional">
													<xs:annotation>
														<xs:documentation>Всего увеличение, Стоимость товаров (работ, услуг), имущественных прав без налога - всего (строка Всего увеличение/Графа 5)</xs:documentation>
														<xs:documentation>
														Обязателен, кроме случаев по п.4 Порядка заполнения счета-фактуры</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СтТовУчНалВсего" use="required">
													<xs:annotation>
														<xs:documentation>Всего увеличение, Стоимость товаров (работ, услуг), имущественных прав с налогом - всего (строка Всего увеличение/Графа 9)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="ВсегоУм" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Реквизиты строки Всего уменьшение (сумма строк (Г) по графам 5, 8 и 9)</xs:documentation>
												<xs:documentation>Обязателен при отсутствии ВсегоУвел</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СумНал" type="СумНДСТип">
														<xs:annotation>
															<xs:documentation>Всего уменьшение, Сумма налога (строка Всего уменьшение/Графа 8)</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="СтТовБезНДСВсего" use="optional">
													<xs:annotation>
														<xs:documentation>Всего уменьшение, Стоимость товаров (работ, услуг), имущественных прав без налога - всего  (строка Всего уменьшение/Графа 5)</xs:documentation>
														<xs:documentation>
														Обязателен, кроме случаев по п.4 Порядка заполнения счета-фактуры</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СтТовУчНалВсего" use="required">
													<xs:annotation>
														<xs:documentation>Всего уменьшение, Стоимость товаров (работ, услуг), имущественных прав,  с  налогом - всего (строка Всего уменьшение/Графа 9)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Подписант">
								<xs:annotation>
									<xs:documentation>Сведения о лице, подписывающем документ в электронном виде</xs:documentation>
									<!--     Сведения о представителе присутствуют только если признак подписанта принимает значение 2          -->
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="ИП">
											<xs:annotation>
												<xs:documentation>Индивидуальный предприниматель</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИО" type="ФИОТип">
														<xs:annotation>
															<xs:documentation>Фамилия, Имя, Отчество</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН индивидуального предпринимателя</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="СвГосРегИП" use="required">
													<xs:annotation>
														<xs:documentation>Реквизиты свидетельства о государственной регистрации ИП</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="ЮЛ">
											<xs:annotation>
												<xs:documentation>Организация</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИО" type="ФИОТип">
														<xs:annotation>
															<xs:documentation>Фамилия, Имя, Отчество</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Должн" use="optional">
													<xs:annotation>
														<xs:documentation>Должность</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="128"/>
															<xs:minLength value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="КНД" use="required">
							<xs:annotation>
								<xs:documentation>Код формы по КНД</xs:documentation>
								<xs:documentation>
								Код по Классификатору налоговой документации.
								1115108 - Корректировочный счет-фактура, применяемый при расчетах по налогу на добавленную стоимость</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="КНДТип">
									<xs:enumeration value="1115108"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:documentation>Содержит (повторяет) имя сформированного файла  (без  расширения)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="optional">
				<xs:annotation>
					<xs:documentation>Версия передающей программы</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="АдресТип">
		<xs:annotation>
			<xs:documentation>Сведения об адресе</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="АдрРФ" type="АдрРФТип">
				<xs:annotation>
					<xs:documentation>Адрес местонахождения в Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="АдрИно" type="АдрИноТип">
				<xs:annotation>
					<xs:documentation>Адрес местонахождения за пределами Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="АдрИноТип">
		<xs:annotation>
			<xs:documentation>Адрес за пределами Российской Федерации</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодСтр" type="ОКСМТип" use="required">
			<xs:annotation>
				<xs:documentation>Код страны</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="АдрТекст" use="required">
			<xs:annotation>
				<xs:documentation>Адрес</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="АдрРФТип">
		<xs:annotation>
			<xs:documentation>Адрес в Российской Федерации</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Индекс" use="optional">
			<xs:annotation>
				<xs:documentation>Индекс</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="6"/>
					<xs:pattern value="[0-9]{6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодРегион" use="required">
			<xs:annotation>
				<xs:documentation>Код Региона</xs:documentation>
				<xs:documentation>
				Код по справочнику "Субъекты Российской Федерации" ФНС России</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="CCРФТип"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Район" use="optional">
			<xs:annotation>
				<xs:documentation>Район</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Город" use="optional">
			<xs:annotation>
				<xs:documentation>Город</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="50"/>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаселПункт" use="optional">
			<xs:annotation>
				<xs:documentation>Населенный пункт</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Улица" use="optional">
			<xs:annotation>
				<xs:documentation>Улица</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Дом" use="optional">
			<xs:annotation>
				<xs:documentation>Дом</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Корпус" use="optional">
			<xs:annotation>
				<xs:documentation>Корпус</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Кварт" use="optional">
			<xs:annotation>
				<xs:documentation>Квартира</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="РазнСумНалТип">
		<xs:annotation>
			<xs:documentation>Сумма налога: увеличение или уменьшение</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="СумУвел">
				<xs:annotation>
					<xs:documentation>Сумма - увеличение (Строка В)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СумУм">
				<xs:annotation>
					<xs:documentation>Сумма -уменьшение (Строка Г)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="СвПродПокТип">
		<xs:annotation>
			<xs:documentation>Сведения о продавце (покупателе)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ИдСв">
				<xs:annotation>
					<xs:documentation>Идентификационные сведения</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="СвЮЛ">
							<xs:annotation>
								<xs:documentation>Сведения об организации</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="НаимОрг" use="required">
									<xs:annotation>
										<xs:documentation>Наименование</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
											<xs:maxLength value="1000"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="optional">
									<xs:annotation>
										<xs:documentation>ИНН</xs:documentation>
										<xs:documentation>Обязателен для лиц, состоящих на учете в налоговых органах</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="КПП" type="КППТип" use="optional">
									<xs:annotation>
										<xs:documentation>КПП</xs:documentation>
										<xs:documentation>Обязателен для лиц, состоящих на учете в налоговых органах</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="СвФЛ">
							<xs:annotation>
								<xs:documentation>Сведения об индивидуальном предпринимателе</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ФИОИП" type="ФИОТип">
										<xs:annotation>
											<xs:documentation>Фамилия, имя, 
отчество</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
									<xs:annotation>
										<xs:documentation>ИНН</xs:documentation>
										<xs:documentation>Обязателен для лиц, состоящих на учете в налоговых органах</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="Адрес" type="АдресТип">
				<xs:annotation>
					<xs:documentation>Адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="СтоимТип">
		<xs:annotation>
			<xs:documentation>Стоимость товаров (работ, услуг), имущественных прав</xs:documentation>
		</xs:annotation>
		<xs:attribute name="СтоимДоИзм" use="required">
			<xs:annotation>
				<xs:documentation>Стоимость до изменения (Строка А)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СтоимПослеИзм" use="required">
			<xs:annotation>
				<xs:documentation>Стоимость после изменения (Строка Б)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СтоимУвел" use="optional">
			<xs:annotation>
				<xs:documentation>Стоимость -  увеличение (Строка В)</xs:documentation>
				<xs:documentation>
				Обязателен при отсутствии СумСтоимУм</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СтоимУм" use="optional">
			<xs:annotation>
				<xs:documentation>Стоимость - уменьшение (Строка Г)</xs:documentation>
				<xs:documentation>
				Обязателен при отсутствии СумСтоимУвел</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\s*((\d{1,17}(\.)?)|(\d{1,16}(\.\d{0,1})?)|(\d{1,15}(\.\d{0,2})?)|(\d{0,15}(\.\d{1,2})?))\s*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СумАкцизТип">
		<xs:annotation>
			<xs:documentation>Сумма акциза</xs:documentation>
		</xs:annotation>
		<xs:attribute name="СумАкциз" use="required">
			<xs:annotation>
				<xs:documentation>В том числе сумма акциза (Графа 6)</xs:documentation>
				<xs:documentation>Указывается сумма (17,2) | без акциза</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="4"/>
					<xs:maxLength value="18"/>
					<xs:pattern value="\d{1,15}\.\d{2}"/>
					<xs:pattern value="без акциза"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СумНДСТип">
		<xs:annotation>
			<xs:documentation>Сумма НДС</xs:documentation>
		</xs:annotation>
		<xs:attribute name="СумНДС" use="required">
			<xs:annotation>
				<xs:documentation>Сумма НДС, предъявляемая покупателю (Графа 8)</xs:documentation>
				<xs:documentation>Указывается сумма (17,2) | без НДС | -</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="18"/>
					<xs:pattern value="\d{1,15}\.\d{2}"/>
					<xs:pattern value="без НДС"/>
					<xs:pattern value="-"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="БИКТип">
		<xs:annotation>
			<xs:documentation>БИК банка</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КНДТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCРФТип">
		<xs:annotation>
			<xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКСМТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКВТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора валют</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКЕИТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора единиц измерения</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
