docs/source/xsd/ON_NSCHFDOPPOK_1_997_02_05_01_01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Файл">
    <xs:annotation>
      <xs:appinfo>
        <sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
          <sch:rule context="Файл">
            <!-- 1. Проверка имени файла на соответствие ИдФайл -->
            <sch:assert test="usch:getFileName() = @ИдФайл">
              <usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл" xmlns:usch="http://www.unisoftware.ru/schematron-extensions">Имя файла обмена "<usch:value-of select="usch:getFileName()" />" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл" />"</usch:error>
            </sch:assert>
          </sch:rule>
        </sch:pattern>
      </xs:appinfo>
      <xs:documentation>Файл обмена</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="СвУчДокОбор">
          <xs:annotation>
            <xs:documentation>Сведения об участниках электронного документооборота</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="СвОЭДОтпр">
                <xs:annotation>
                  <xs:documentation>Сведения об операторе электронного документооборота отправителя файла обмена информации покупателя</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="НаимОрг" use="required">
                    <xs:annotation>
                      <xs:documentation>Наименование</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                    <xs:annotation>
                      <xs:documentation>ИНН</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ИдЭДО" use="required">
                    <xs:annotation>
                      <xs:documentation>Идентификатор оператора электронного документооборота отправителя файла обмена информации покупателя</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ИдОтпр" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор участника документооборота – отправителя файла обмена информации покупателя</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4" />
                  <xs:maxLength value="46" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ИдПол" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор участника документооборота – получателя файла обмена информации покупателя</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4" />
                  <xs:maxLength value="46" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="ИнфПок">
          <xs:annotation>
            <xs:documentation>Документ об отгрузке товаров (выполнении работ), передаче имущественных прав (документ об оказании услуг), 
включающий в себя счет-фактуру (информация покупателя), или документ об отгрузке товаров (выполнении работ), передаче имущественных прав (документ об оказании услуг) (информация покупателя)</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ИдИнфПрод">
                <xs:annotation>
                  <xs:documentation>Идентификация файла обмена счета-фактуры (информации продавца) или файла обмена информации продавца</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ЭП">
                      <xs:annotation>
                        <xs:documentation>Электронная подпись файла обмена информации продавца</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ИдФайлИнфПр" use="required">
                    <xs:annotation>
                      <xs:documentation>Идентификатор файла обмена информации продавца</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ДатаФайлИнфПр" type="ДатаТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Дата формирования файла обмена информации продавца</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ВремФайлИнфПр" type="ВремяТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Время формирования файла обмена информации продавца</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="СодФХЖ4">
                <xs:annotation>
                  <xs:documentation>Содержание факта хозяйственной жизни 4 - сведения о принятии товаров (результатов выполненных работ), имущественных прав (о подтверждении факта оказания услуг)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="СвПрин">
                      <xs:annotation>
                        <xs:documentation>Сведения о принятии товаров (результатов выполненных работ), имущественных прав (о подтверждении факта оказания услуг)</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="КодСодОпер">
                            <xs:annotation>
                              <xs:documentation>Код содержания операции</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="КодИтога" use="required">
                                <xs:annotation>
                                  <xs:documentation>Код, обозначающий итог приемки товара (работ, услуг, прав)</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:length value="1" />
                                    <xs:enumeration value="1" />
                                    <xs:enumeration value="2" />
                                    <xs:enumeration value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="НаимДокРасх" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Наименование документа, оформляющего расхождения</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="255" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ВидДокРасх" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Код вида документа о расхождениях</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:length value="1" />
                                    <xs:enumeration value="2" />
                                    <xs:enumeration value="3" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="НомДокРасх" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Номер документа покупателя о расхождениях</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="255" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ДатаДокРасх" type="ДатаТип" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Дата документа  о расхождениях</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="ИдФайлДокРасх" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Идентификатор файла обмена документа о расхождениях, сформированного покупателем</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="255" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="СвЛицПрин">
                            <xs:annotation>
                              <xs:documentation>Сведения о лице, принявшем товары (груз)</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:choice>
                                <xs:element name="РабОргПок">
                                  <xs:annotation>
                                    <xs:documentation>Работник организации покупателя</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ФИО" type="ФИОТип">
                                        <xs:annotation>
                                          <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Должность" use="required">
                                      <xs:annotation>
                                        <xs:documentation>Должность</xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:minLength value="1" />
                                          <xs:maxLength value="128" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="ИныеСвед" use="optional">
                                      <xs:annotation>
                                        <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:minLength value="1" />
                                          <xs:maxLength value="255" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="ОснПолн" use="required">
                                      <xs:annotation>
                                        <xs:documentation>Основание полномочий (доверия)</xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:minLength value="1" />
                                          <xs:maxLength value="120" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ИнЛицо">
                                  <xs:annotation>
                                    <xs:documentation>Иное лицо</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:choice>
                                      <xs:element name="ПредОргПрин">
                                        <xs:annotation>
                                          <xs:documentation>Представитель организации, которой доверено принятие товаров (груза)</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="ФИО" type="ФИОТип">
                                              <xs:annotation>
                                                <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="Должность" use="required">
                                            <xs:annotation>
                                              <xs:documentation>Должность</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="128" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="ИныеСвед" use="optional">
                                            <xs:annotation>
                                              <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="255" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="НаимОргПрин" use="required">
                                            <xs:annotation>
                                              <xs:documentation>Наименование организации</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="128" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="ОснДоверОргПрин" use="optional">
                                            <xs:annotation>
                                              <xs:documentation>Основание, по которому организации доверено принятие товаров (груза) </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="120" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="ОснПолнПредПрин" use="optional">
                                            <xs:annotation>
                                              <xs:documentation>Основание полномочий представителя организации на принятие товаров (груза)</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="120" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="ФЛПрин">
                                        <xs:annotation>
                                          <xs:documentation>Физическое лицо, которому доверено принятие товаров (груза)</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="ФИО" type="ФИОТип">
                                              <xs:annotation>
                                                <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="ОснДоверФЛ" use="optional">
                                            <xs:annotation>
                                              <xs:documentation>Основание, по которому физическому лицу доверено принятие товаров (груза)</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="120" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="ИныеСвед" use="optional">
                                            <xs:annotation>
                                              <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="255" />
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:choice>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="СодОпер" use="optional">
                          <xs:annotation>
                            <xs:documentation>Содержание операции (текст)</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="255" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ДатаПрин" type="ДатаТип" use="optional">
                          <xs:annotation>
                            <xs:documentation>Дата принятия товаров (результатов выполненных работ), имущественных прав (подтверждения факта оказания услуг)</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ИнфПолФХЖ4">
                      <xs:annotation>
                        <xs:documentation>Информационное поле факта хозяйственной жизни 4</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="ТекстИнф">
                            <xs:annotation>
                              <xs:documentation>Текстовая информация</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="Идентиф" use="required">
                                <xs:annotation>
                                  <xs:documentation>Идентификатор</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="50" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="Значен" use="required">
                                <xs:annotation>
                                  <xs:documentation>Значение</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="2000" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ИдФайлИнфПол" use="optional">
                          <xs:annotation>
                            <xs:documentation>Идентификатор  файла информационного поля</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="36" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="НаимДокОпрПр" use="required">
                    <xs:annotation>
                      <xs:documentation>Наименование первичного документа, согласованное сторонами сделки </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Функция" use="required">
                    <xs:annotation>
                      <xs:documentation>Функция</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="6" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="НомСчФИнфПр" use="optional">
                    <xs:annotation>
                      <xs:documentation>Номер счета-фактуры (информации продавца)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ДатаСчФИнфПр" type="ДатаТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Дата составления (выписки) счета-фактуры (информации продавца)</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ВидОперации" use="optional">
                    <xs:annotation>
                      <xs:documentation>Вид операции</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ИнфПокГосЗакКазн">
                <xs:annotation>
                  <xs:documentation>Информация покупателя об обстоятельствах закупок для государственных и муниципальных нужд (для учета Федеральным казначейством денежных обязательств)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ИнфСведДенОбяз">
                      <xs:annotation>
                        <xs:documentation>Информация для сведений о денежном обязательстве</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="НомСтр" use="required">
                          <xs:annotation>
                            <xs:documentation>Номер строки таблицы информации продавца</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="6" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="КодОбъектФАИП" use="optional">
                          <xs:annotation>
                            <xs:documentation>Код объекта капитального строительства федеральной адресной инвестиционной программы/код мероприятия по информатизации</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="24" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ВидСредств" use="required">
                          <xs:annotation>
                            <xs:documentation>Вид средств</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="1" />
                              <xs:enumeration value="1" />
                              <xs:enumeration value="2" />
                              <xs:enumeration value="3" />
                              <xs:enumeration value="4" />
                              <xs:enumeration value="5" />
                              <xs:enumeration value="6" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="КодПокБюджКласс" use="required">
                          <xs:annotation>
                            <xs:documentation>Код по бюджетной классификации (покупатель)</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="20" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="КодЦелиПокуп" use="optional">
                          <xs:annotation>
                            <xs:documentation>Код цели (покупатель)</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="20" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="СумАванс" use="required">
                          <xs:annotation>
                            <xs:documentation>Сумма перечисленного аванса</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="19" />
                              <xs:fractionDigits value="2" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ИдКодЗак" use="optional">
                    <xs:annotation>
                      <xs:documentation>Идентификационный код закупки</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="36" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ЛицСчетПок" use="required">
                    <xs:annotation>
                      <xs:documentation>Номер лицевого счета покупателя</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="11" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="НаимФинОргПок" use="required">
                    <xs:annotation>
                      <xs:documentation>Наименование финансового органа покупателя</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="2000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="НомРеестрЗапПок" use="required">
                    <xs:annotation>
                      <xs:documentation>Номер реестровой записи покупателя по Реестру участников бюджетного процесса, а также юридических лиц, не являющихся участниками бюджетного процесса</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="8" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="УчНомБюдОбязПок" use="optional">
                    <xs:annotation>
                      <xs:documentation>Учетный номер бюджетного обязательства покупателя</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="16" />
                        <xs:maxLength value="19" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="КодКазначПок" use="optional">
                    <xs:annotation>
                      <xs:documentation>Код территориального органа Федерального казначейства покупателя</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="4" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="НаимКазначПок" use="optional">
                    <xs:annotation>
                      <xs:documentation>Наименование территориального органа Федерального казначейства покупателя</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="2000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОКТМОПок" type="ОКТМОТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Код покупателя в Общероссийском классификаторе территорий муниципальных образований</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ОКТМОМесПост" type="ОКТМОТип" use="optional">
                    <xs:annotation>
                      <xs:documentation>Код места поставки в Общероссийском классификаторе территорий муниципальных образований</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ДатаОплПред" type="ДатаТип" use="optional">
                    <xs:annotation>
                      <xs:documentation>Предельная дата оплаты</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="УчНомДенОбяз" use="optional">
                    <xs:annotation>
                      <xs:documentation>Учетный номер денежного обязательства</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="22" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОчерПлат" use="optional">
                    <xs:annotation>
                      <xs:documentation>Очередность платежа</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ВидПлат" use="optional">
                    <xs:annotation>
                      <xs:documentation>Вид платежа</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="1" />
                        <xs:enumeration value="0" />
                        <xs:enumeration value="4" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Подписант">
                <xs:annotation>
                  <xs:documentation>Сведения о лице, подписывающем файл обмена информации покупателя в электронной форме</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="ФЛ" type="СвФЛТип">
                      <xs:annotation>
                        <xs:documentation>Физическое лицо</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ИП" type="СвИПТип">
                      <xs:annotation>
                        <xs:documentation>Индивидуальный предприниматель</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ЮЛ">
                      <xs:annotation>
                        <xs:documentation>Представитель юридического лица</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ФИО" type="ФИОТип">
                            <xs:annotation>
                              <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                          <xs:annotation>
                            <xs:documentation>ИНН организации</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="НаимОрг" use="optional">
                          <xs:annotation>
                            <xs:documentation>Наименование</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="1000" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Должн" use="required">
                          <xs:annotation>
                            <xs:documentation>Должность</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="128" />
                              <xs:minLength value="1" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ИныеСвед" use="optional">
                          <xs:annotation>
                            <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1" />
                              <xs:maxLength value="255" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="ОблПолн" use="required">
                    <xs:annotation>
                      <xs:documentation>Область полномочий</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="1" />
                        <xs:enumeration value="1" />
                        <xs:enumeration value="2" />
                        <xs:enumeration value="3" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Статус" use="required">
                    <xs:annotation>
                      <xs:documentation>Статус</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="1" />
                        <xs:enumeration value="3" />
                        <xs:enumeration value="4" />
                        <xs:enumeration value="5" />
                        <xs:enumeration value="6" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснПолн" use="required">
                    <xs:annotation>
                      <xs:documentation>Основание полномочий (доверия)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснПолнОрг" use="optional">
                    <xs:annotation>
                      <xs:documentation>Основание полномочий (доверия) организации</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="КНД" use="required">
              <xs:annotation>
                <xs:documentation>Код документа  по КНД</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="КНДТип">
                  <xs:enumeration value="1115132" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ДатаИнфПок" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата формирования файла обмена информации покупателя</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ВремИнфПок" type="ВремяТип" use="required">
              <xs:annotation>
                <xs:documentation>Время формирования файла обмена информации покупателя</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="НаимЭконСубСост" use="required">
              <xs:annotation>
                <xs:documentation>Наименование экономического субъекта – составителя файла обмена информации покупателя</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:maxLength value="1000" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ОснДоверОргСост" use="optional">
              <xs:annotation>
                <xs:documentation>Основание, по которому экономический субъект является составителем файла обмена информации покупателя</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1" />
                  <xs:maxLength value="120" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ИдФайл" use="required">
        <xs:annotation>
          <xs:documentation>Идентификатор файла</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="5" />
            <xs:enumeration value="5.01" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсПрог" use="optional">
        <xs:annotation>
          <xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="СвИПТип">
    <xs:annotation>
      <xs:documentation>Сведения о индивидуальном предпринимателе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ФИО" type="ФИОТип">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
      <xs:annotation>
        <xs:documentation>ИНН</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="СвГосРегИП" use="optional">
      <xs:annotation>
        <xs:documentation>Реквизиты свидетельства о государственной регистрации индивидуального предпринимателя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="100" />
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИныеСвед" use="optional">
      <xs:annotation>
        <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="СвФЛТип">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ФИО" type="ФИОТип">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
      <xs:annotation>
        <xs:documentation>ИНН</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ИныеСвед" use="optional">
      <xs:annotation>
        <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="255" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФИОТип">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Фамилия" use="required">
      <xs:annotation>
        <xs:documentation>Фамилия</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Имя" use="required">
      <xs:annotation>
        <xs:documentation>Имя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Отчество" use="optional">
      <xs:annotation>
        <xs:documentation>Отчество</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
          <xs:maxLength value="60" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ИННФЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="12" />
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННЮЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10" />
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="КНДТип">
    <xs:annotation>
      <xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="7" />
      <xs:pattern value="[0-9]{7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОКТМОТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора территорий муниципальных образований</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="8" />
      <xs:maxLength value="11" />
      <xs:pattern value="[0-9]{8}" />
      <xs:pattern value="[0-9]{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ВремяТип">
    <xs:annotation>
      <xs:documentation>Время в формате ЧЧ.ММ.СС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="8" />
      <xs:pattern value="([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})\.([0-5]{1}[0-9]{1})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ДатаТип">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10" />
      <xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>