docs/source/xsd/ON_NSCHFDOPPOK_1_997_02_05_02_01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by VI (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="‘айл">
		<xs:annotation>
			<!---**************************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="ѕроверка имени файла на соответствие значению атрибута @»д‘айл">
					<sch:rule context="‘айл">
						<!-- ѕроверка имени файла на соответствие »д‘айл -->
						<sch:assert test="usch:getFileName() = @»д‘айл">
							<usch:error code="0400400007" path="@»д‘айл" value-of-select="@»д‘айл" doc-id-path="usch:getFileName()" doc-id-caption="‘айл">»м€ файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента »д‘айл "<usch:value-of select="@»д‘айл"/>"</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---**************************************************************************************************************************************************************************-->
			<xs:documentation>‘айл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ƒокумент">
					<xs:annotation>
						<xs:documentation>ƒокумент об отгрузке товаров (выполнении работ), передаче имущественных прав (документ об оказании услуг), включающий счет-фактуру (информаци€ покупател€), или документ об отгрузке товаров (выполнении работ), передаче имущественных прав (документ об оказании услуг) (информаци€ покупател€)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="»д»нфѕрод">
								<xs:annotation>
									<xs:documentation>»дентификаци€ файла обмена счета-фактуры (информации продавца) или файла обмена информации продавца</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Ёѕ" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Ёлектронна€ подпись файла обмена информации продавца</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="»д‘айл»нфѕр" use="required">
										<xs:annotation>
											<xs:documentation>»дентификатор файла обмена информации продавца</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ƒата‘айл»нфѕр" type="ƒата“ип" use="required">
										<xs:annotation>
											<xs:documentation>ƒата формировани€ файла обмена информации продавца</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="¬рем‘айл»нфѕр" type="¬рем€“ип" use="required">
										<xs:annotation>
											<xs:documentation>¬рем€ формировани€ файла обмена информации продавца</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="—од‘’∆4">
								<xs:annotation>
									<xs:documentation>—одержание факта хоз€йственной жизни 4 - сведени€ о прин€тии товаров (результатов выполненных работ), имущественных прав (о подтверждении факта оказани€ услуг)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="—вѕрин">
											<xs:annotation>
												<!---************************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="ѕроверка присутстви€ элемента —одќпер в зависимости от значени€ элемента  од—одќпер/ од»тога">
														<sch:rule context="—вѕрин">
															<sch:assert test="usch:iif(
												( од—одќпер/@ од»тога)=3, 
												count(@—одќпер)=0, 
												count(@—одќпер)=0 or count(@—одќпер)!=0
												)">
																<usch:error code="0400300003" path="@—одќпер" value-of-select="count(@—одќпер)">Ќе выполнено условие присутстви€ элемента —одќпер при значении элемента  од—одќпер/ од»тога, равном "<usch:value-of select=" од—одќпер/@ од»тога"/>".
													</usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---*************************************************************************************************************************************************************-->
												<xs:documentation>—ведени€ о прин€тии товаров (результатов выполненных работ), имущественных прав (о подтверждении факта оказани€ услуг)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name=" од—одќпер">
														<xs:annotation>
															<xs:documentation> од содержани€ операции</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="–еквƒок–асх" type="–еквƒок“ип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>–еквизиты документа, оформл€ющего расхождени€</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name=" од»тога" use="required">
																<xs:annotation>
																	<xs:documentation> од, обозначающий итог приемки товара (работ, услуг, прав)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="1"/>
																		<xs:enumeration value="1"/>
																		<xs:enumeration value="2"/>
																		<xs:enumeration value="3"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="—вЋицѕрин" minOccurs="0">
														<xs:annotation>
															<xs:documentation>—ведени€ о лице, прин€вшем товары</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:choice>
																<xs:element name="–абќргѕок">
																	<xs:annotation>
																		<xs:documentation>–аботник организации покупател€ </xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="‘»ќ" type="‘»ќ“ип">
																				<xs:annotation>
																					<xs:documentation>‘амили€, им€, отчество (при наличии)</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="ƒолжность" use="required">
																			<xs:annotation>
																				<xs:documentation>ƒолжность</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="255"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="»ные—вед" use="optional">
																			<xs:annotation>
																				<xs:documentation>»ные сведени€, идентифицирующие физическое лицо</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="255"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="»нЋицо">
																	<xs:annotation>
																		<xs:documentation>»ное лицо</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:choice>
																			<xs:element name="ѕредќргѕрин">
																				<xs:annotation>
																					<!---************************************************************************************************************************************************************-->
																					<xs:appinfo>
																						<sch:pattern name="ѕроверка присутстви€ элемента »ЌЌќргѕрин в зависимости от присутстви€ элемента ќснƒоверќргѕрин">
																							<sch:rule context="ѕредќргѕрин">
																								<sch:assert test="usch:iif(
												count(ќснƒоверќргѕрин)=0, 
												count(@»ЌЌќргѕрин)!=0, 
												count(@»ЌЌќргѕрин)=0 or count(@»ЌЌќргѕрин)!=0
												)">
																									<usch:error code="0400300003" path="@»ЌЌќргѕрин" value-of-select="count(@»ЌЌќргѕрин)">Ќе выполнено условие присутстви€ элемента »ЌЌќргѕрин при присутствии элемента ќснƒоверќргѕрин в количестве, равном "<usch:value-of select="count(ќснƒоверќргѕрин)"/>".
													</usch:error>
																								</sch:assert>
																							</sch:rule>
																						</sch:pattern>
																					</xs:appinfo>
																					<!---*************************************************************************************************************************************************************-->
																					<!---************************************************************************************************************************************************************-->
																					<xs:appinfo>
																						<sch:pattern name="ѕроверка присутстви€ элемента ќснƒоверќргѕрин в зависимости от присутстви€ элемента »ЌЌќргѕрин">
																							<sch:rule context="ѕредќргѕрин">
																								<sch:assert test="usch:iif(
												count(@»ЌЌќргѕрин)=0, 
												count(ќснƒоверќргѕрин)!=0, 
												count(ќснƒоверќргѕрин)=0 or count(ќснƒоверќргѕрин)!=0
												)">
																									<usch:error code="0400300003" path="ќснƒоверќргѕрин" value-of-select="count(ќснƒоверќргѕрин)">Ќе выполнено условие присутстви€ элемента ќснƒоверќргѕрин при присутствии элемента »ЌЌќргѕрин в количестве, равном "<usch:value-of select="count(@»ЌЌќргѕрин)"/>".
													</usch:error>
																								</sch:assert>
																							</sch:rule>
																						</sch:pattern>
																					</xs:appinfo>
																					<!---*************************************************************************************************************************************************************-->
																					<xs:documentation>ѕредставитель организации, которой доверено прин€тие товаров</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="ќснƒоверќргѕрин" type="–еквƒок“ип" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>ќснование, по которому организации доверено прин€тие товаров</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="ќснѕолнѕредѕрин" type="–еквƒок“ип" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>ќснование полномочий представител€ организации на прин€тие товаров</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="‘»ќ" type="‘»ќ“ип">
																							<xs:annotation>
																								<xs:documentation>‘амили€, им€, отчество (при наличии)</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="ƒолжность" use="required">
																						<xs:annotation>
																							<xs:documentation>ƒолжность</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:minLength value="1"/>
																								<xs:maxLength value="255"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="»ные—вед" use="optional">
																						<xs:annotation>
																							<xs:documentation>»ные сведени€, идентифицирующие физическое лицо</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:minLength value="1"/>
																								<xs:maxLength value="255"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="Ќаимќргѕрин" use="required">
																						<xs:annotation>
																							<xs:documentation>Ќаименование организации</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:minLength value="1"/>
																								<xs:maxLength value="255"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="»ЌЌќргѕрин" type="»ЌЌёЋ“ип" use="optional">
																						<xs:annotation>
																							<xs:documentation>»ЌЌ юридического лица, которому доверен прием</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="‘Ћѕрин">
																				<xs:annotation>
																					<!---************************************************************************************************************************************************************-->
																					<xs:appinfo>
																						<sch:pattern name="ѕроверка присутстви€ элемента »ЌЌ‘Ћѕрин в зависимости от присутстви€ элемента ќснƒовер‘Ћ">
																							<sch:rule context="‘Ћѕрин">
																								<sch:assert test="usch:iif(
												count(ќснƒовер‘Ћ)=0, 
												count(@»ЌЌ‘Ћѕрин)!=0, 
												count(@»ЌЌ‘Ћѕрин)=0 or count(@»ЌЌ‘Ћѕрин)!=0
												)">
																									<usch:error code="0400300003" path="@»ЌЌ‘Ћѕрин" value-of-select="count(@»ЌЌ‘Ћѕрин)">Ќе выполнено условие присутстви€ элемента »ЌЌ‘Ћѕрин при присутствии элемента ќснƒовер‘Ћ в количестве, равном "<usch:value-of select="count(ќснƒовер‘Ћ)"/>".
													</usch:error>
																								</sch:assert>
																							</sch:rule>
																						</sch:pattern>
																					</xs:appinfo>
																					<!---*************************************************************************************************************************************************************-->
																					<!---************************************************************************************************************************************************************-->
																					<xs:appinfo>
																						<sch:pattern name="ѕроверка присутстви€ элемента ќснƒовер‘Ћ в зависимости от присутстви€ элемента »ЌЌ‘Ћѕрин">
																							<sch:rule context="‘Ћѕрин">
																								<sch:assert test="usch:iif(
												count(@»ЌЌ‘Ћѕрин)=0, 
												count(ќснƒовер‘Ћ)!=0, 
												count(ќснƒовер‘Ћ)=0 or count(ќснƒовер‘Ћ)!=0
												)">
																									<usch:error code="0400300003" path="ќснƒовер‘Ћ" value-of-select="count(ќснƒовер‘Ћ)">Ќе выполнено условие присутстви€ элемента ќснƒовер‘Ћ при присутствии элемента »ЌЌ‘Ћѕрин в количестве, равном "<usch:value-of select="count(@»ЌЌ‘Ћѕрин)"/>".
													</usch:error>
																								</sch:assert>
																							</sch:rule>
																						</sch:pattern>
																					</xs:appinfo>
																					<!---*************************************************************************************************************************************************************-->
																					<xs:documentation>‘изическое лицо, которому доверено прин€тие товаров</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="ќснƒовер‘Ћ" type="–еквƒок“ип" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>ќснование, по которому физическому лицу доверено прин€тие товаров</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="‘»ќ" type="‘»ќ“ип">
																							<xs:annotation>
																								<xs:documentation>‘амили€, им€, отчество (при наличии)</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																					<xs:attribute name="»ЌЌ‘Ћѕрин" type="»ЌЌ‘Ћ“ип" use="optional">
																						<xs:annotation>
																							<xs:documentation>»ЌЌ физического лица, в том числе индивидуального предпринимател€, которому доверен прием</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="»ные—вед" use="optional">
																						<xs:annotation>
																							<xs:documentation>»ные сведени€, идентифицирующие физическое лицо</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:minLength value="1"/>
																								<xs:maxLength value="255"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:choice>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="—одќпер" use="optional">
													<xs:annotation>
														<xs:documentation>—одержание операции (текст, подтверждающий событие, повлекшее за собой изменение финансового состо€ни€ покупател€)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ƒатаѕрин" type="ƒата“ип" use="required">
													<xs:annotation>
														<xs:documentation>ƒата прин€ти€ товаров (результатов выполненных работ), имущественных прав (подтверждени€ факта оказани€ услуг)</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="»нфѕол‘’∆4" minOccurs="0">
											<xs:annotation>
												<xs:documentation>»нформационное поле факта хоз€йственной жизни 4</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="“екст»нф" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>“екстова€ информаци€</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="»дентиф" use="required">
																<xs:annotation>
																	<xs:documentation>»дентификатор</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="50"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="«начен" use="required">
																<xs:annotation>
																	<xs:documentation>«начение</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="2000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="»д‘айл»нфѕол" use="optional">
													<xs:annotation>
														<xs:documentation>»дентификатор файла информационного пол€</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="36"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Ќаимƒокќпрѕр" use="required">
										<xs:annotation>
											<xs:documentation>Ќаименование первичного документа, согласованное сторонами сделки </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="‘ункци€" use="required">
										<xs:annotation>
											<xs:documentation>‘ункци€</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ѕорЌомƒок»нфѕр" use="optional">
										<xs:annotation>
											<xs:documentation>ѕор€дковый номер (строка 1 счета-фактуры), документа об отгрузке товаров (выполнении работ), передаче имущественных прав (документа об оказании услуг)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="1000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ƒатаƒок»нфѕр" type="ƒата“ип" use="required">
										<xs:annotation>
											<xs:documentation>ƒата документа об отгрузке товаров (выполнении работ), передаче имущественных прав (документа об оказании услуг)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="¬идќпер" use="optional">
										<xs:annotation>
											<xs:documentation>¬ид операции</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="»нфѕок«а√оск азн" minOccurs="0">
								<xs:annotation>
									<!---************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="ѕроверка присутстви€ элемента ќчерѕлат в зависимости от присутстви€ элемента ƒатаќплѕред">
											<sch:rule context="»нфѕок«а√оск азн">
												<sch:assert test="usch:iif(
												count(@ƒатаќплѕред)!=0, 
												count(@ќчерѕлат)!=0, 
												count(@ќчерѕлат)=0 or count(@ќчерѕлат)!=0
												)">
													<usch:error code="0400300003" path="@ќчерѕлат" value-of-select="count(@ќчерѕлат)">Ќе выполнено условие присутстви€ элемента ќчерѕлат при присутствии элемента ƒатаќплѕред в количестве, равном "<usch:value-of select="count(@ƒатаќплѕред)"/>".
													</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<!---************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="ѕроверка присутстви€ элемента ¬идѕлат в зависимости от присутстви€ элемента ƒатаќплѕред">
											<sch:rule context="»нфѕок«а√оск азн">
												<sch:assert test="usch:iif(
												count(@ƒатаќплѕред)!=0, 
												count(@¬идѕлат)!=0, 
												count(@¬идѕлат)=0 or count(@¬идѕлат)!=0
												)">
													<usch:error code="0400300003" path="@¬идѕлат" value-of-select="count(@¬идѕлат)">Ќе выполнено условие присутстви€ элемента ¬идѕлат при присутствии элемента ƒатаќплѕред в количестве, равном "<usch:value-of select="count(@ƒатаќплѕред)"/>".
													</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<xs:documentation>»нформаци€ покупател€ об обсто€тельствах закупок дл€ государственных и муниципальных нужд (дл€ учета ‘едеральным казначейством денежных об€зательств)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="»нф—ведƒенќб€з" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>»нформаци€ дл€ сведений о денежном об€зательстве</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Ќом—тр" use="required">
													<xs:annotation>
														<xs:documentation>ѕор€дковый номер записи (строки) информации продавца</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="6"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name=" одќбъект‘ј»ѕ" use="optional">
													<xs:annotation>
														<xs:documentation> од объекта капитального строительства федеральной адресной инвестиционной программы/код меропри€ти€ по информатизации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="24"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="¬ид—редств" use="required">
													<xs:annotation>
														<xs:documentation>¬ид средств</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="3"/>
															<xs:enumeration value="4"/>
															<xs:enumeration value="5"/>
															<xs:enumeration value="6"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name=" одѕокЅюдж ласс" use="required">
													<xs:annotation>
														<xs:documentation> од по бюджетной классификации (покупатель)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name=" од÷елиѕокуп" use="optional">
													<xs:annotation>
														<xs:documentation> од цели (покупатель)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="—умјванс" use="required">
													<xs:annotation>
														<xs:documentation>—умма перечисленного аванса</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="»д од«ак" use="optional">
										<xs:annotation>
											<xs:documentation>»дентификационный код закупки</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Ћиц—четѕок" use="required">
										<xs:annotation>
											<xs:documentation>Ќомер лицевого счета покупател€</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="11"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Ќаим‘инќргѕок" use="required">
										<xs:annotation>
											<xs:documentation>Ќаименование финансового органа покупател€</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="2000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Ќом–еестр«апѕок" use="required">
										<xs:annotation>
											<xs:documentation>Ќомер реестровой записи покупател€ по –еестру участников бюджетного процесса, а также юридических лиц, не €вл€ющихс€ участниками бюджетного процесса</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="”чЌомЅюдќб€зѕок" use="optional">
										<xs:annotation>
											<xs:documentation>”четный номер бюджетного об€зательства покупател€</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="16"/>
												<xs:maxLength value="19"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name=" од азначѕок" use="optional">
										<xs:annotation>
											<xs:documentation> од территориального органа ‘едерального казначейства покупател€</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Ќаим азначѕок" use="optional">
										<xs:annotation>
											<xs:documentation>Ќаименование территориального органа ‘едерального казначейства покупател€</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="2000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ќ “ћќѕок" type="ќ “ћќ“ип" use="required">
										<xs:annotation>
											<xs:documentation> од покупател€ в ќбщероссийском классификаторе территорий муниципальных образований</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ќ “ћќћесѕост" type="ќ “ћќ“ип" use="optional">
										<xs:annotation>
											<xs:documentation> од места поставки в ќбщероссийском классификаторе территорий муниципальных образований</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ƒатаќплѕред" type="ƒата“ип" use="optional">
										<xs:annotation>
											<xs:documentation>ѕредельна€ дата оплаты</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="”чЌомƒенќб€з" use="optional">
										<xs:annotation>
											<xs:documentation>”четный номер денежного об€зательства</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="22"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ќчерѕлат" use="optional">
										<xs:annotation>
											<xs:documentation>ќчередность платежа</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="¬идѕлат" use="optional">
										<xs:annotation>
											<xs:documentation>¬ид платежа</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="0"/>
												<xs:enumeration value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ѕодписант" maxOccurs="unbounded">
								<xs:annotation>
									<!---************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="ѕроверка присутстви€ элемента —вƒоверЁл в зависимости от значени€ элемента —посѕодтѕолном">
											<sch:rule context="ѕодписант">
												<sch:assert test="usch:iif(
												@—посѕодтѕолном=3, 
												count(—вƒоверЁл)!=0, 
												count(—вƒоверЁл)=0
												)">
													<usch:error code="0400300003" path="—вƒоверЁл" value-of-select="count(—вƒоверЁл)">Ќе выполнено условие присутстви€ элемента —вƒоверЁл при значении элемента —посѕодтѕолном, равном "<usch:value-of select="@—посѕодтѕолном"/>".													
													</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<!---************************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="ѕроверка присутстви€ элемента —вƒоверЅум в зависимости от значени€ элемента —посѕодтѕолном">
											<sch:rule context="ѕодписант">
												<sch:assert test="usch:iif(
												@—посѕодтѕолном=5, 
												count(—вƒоверЅум)!=0, 
												count(—вƒоверЅум)=0
												)">
													<usch:error code="0400300003" path="—вƒоверЅум" value-of-select="count(—вƒоверЅум)">Ќе выполнено условие присутстви€ элемента —вƒоверЅум при значении элемента —посѕодтѕолном, равном "<usch:value-of select="@—посѕодтѕолном"/>".
													</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*************************************************************************************************************************************************************-->
									<xs:documentation>—ведени€ о лице, подписывающем файл обмена информации покупател€ в электронной форме</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="‘»ќ" type="‘»ќ“ип">
											<xs:annotation>
												<xs:documentation>‘амили€, им€, отчество (при наличии)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="—вƒоверЁл" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>—ведени€ о доверенности в электронной форме в машиночитаемом виде, используемой дл€ подтверждени€ полномочий представител€</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="Ќомƒовер" use="required">
														<xs:annotation>
															<xs:documentation>≈диный регистрационный номер доверенности</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="36"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="ƒата¬ыдƒовер" type="ƒата“ип" use="required">
														<xs:annotation>
															<xs:documentation>ƒата совершени€ (выдачи) доверенности</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="¬нЌомƒовер" use="optional">
														<xs:annotation>
															<xs:documentation>¬нутренний номер доверенности</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="ƒата¬н–егƒовер" type="ƒата“ип" use="optional">
														<xs:annotation>
															<xs:documentation>ƒата внутренней регистрации доверенности</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="»д—ист’ран" use="required">
														<xs:annotation>
															<xs:documentation>»дентифицирующа€ информаци€ об информационной системе, в которой осуществл€етс€ хранение доверенности, необходима€ дл€ запроса информации из информационной системы</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="”–Ћ—ист" use="optional">
														<xs:annotation>
															<xs:documentation>—ведени€ в формате URL об информационной системе, котора€ предоставл€ет техническую возможность получени€ информации о доверенности</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="—вƒоверЅум" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>—ведени€ о доверенности в форме документа на бумажном носителе, используемой дл€ подтверждени€ полномочий представител€</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="‘»ќ" type="‘»ќ“ип" minOccurs="0">
															<xs:annotation>
																<xs:documentation>‘амили€, им€, отчество (при наличии) лица, подписавшего доверенность</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="ƒата¬ыдƒовер" type="ƒата“ип" use="required">
														<xs:annotation>
															<xs:documentation>ƒата совершени€ (выдачи) доверенности</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="¬нЌомƒовер" use="required">
														<xs:annotation>
															<xs:documentation>¬нутренний номер доверенности</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="—в»дƒовер" use="optional">
														<xs:annotation>
															<xs:documentation>—ведени€, идентифицирующие доверител€</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="1000"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:choice>
									</xs:sequence>
									<xs:attribute name="ƒолжн" use="optional">
										<xs:annotation>
											<xs:documentation>ƒолжность</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="“ипѕодпис" use="optional">
										<xs:annotation>
											<xs:documentation>“ип подписи</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ƒатаѕодƒок" type="ƒата“ип" use="optional">
										<xs:annotation>
											<xs:documentation>ƒата подписани€ документа</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="—посѕодтѕолном" use="required">
										<xs:annotation>
											<xs:documentation>—пособ подтверждени€ полномочий представител€ на подписание документа</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												<xs:enumeration value="4"/>
												<xs:enumeration value="5"/>
												<xs:enumeration value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ƒоп—ведѕодп" use="optional">
										<xs:annotation>
											<xs:documentation>ƒополнительные сведени€</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ќснƒоверќрг—ост" type="–еквƒок“ип" minOccurs="0">
								<xs:annotation>
									<xs:documentation>ќснование, по которому экономический субъект €вл€етс€ составителем файла обмена информации покупател€</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name=" Ќƒ" use="required">
							<xs:annotation>
								<xs:documentation> од документа по  Ќƒ</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base=" Ќƒ“ип">
									<xs:enumeration value="1115132"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="”»ƒ" use="optional">
							<xs:annotation>
								<xs:documentation>”никальный идентификатор документа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="1000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ƒата»нфѕок" type="ƒата“ип" use="required">
							<xs:annotation>
								<xs:documentation>ƒата формировани€ файла обмена информации покупател€</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="¬рем»нфѕок" type="¬рем€“ип" use="required">
							<xs:annotation>
								<xs:documentation>¬рем€ формировани€ файла обмена информации покупател€</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ЌаимЁкон—уб—ост" use="optional">
							<xs:annotation>
								<xs:documentation>Ќаименование экономического субъекта Ц составител€ файла обмена информации покупател€</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="1000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="»д‘айл" use="required">
				<xs:annotation>
					<xs:documentation>»дентификатор файла</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="¬ерс‘орм" use="required">
				<xs:annotation>
					<xs:documentation>¬ерси€ формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.02"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="¬ерсѕрог" use="required">
				<xs:annotation>
					<xs:documentation>¬ерси€ программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="–еквƒок“ип">
		<xs:annotation>
			<xs:documentation>–еквизиты документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="–екв»д–ек—ост" type="»д–ек—ост“ип" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>»дентифицирующие реквизиты экономических субъектов, составивших (сформировавших) документ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="–еквЌаимƒок" use="required">
			<xs:annotation>
				<xs:documentation>Ќаименование документа</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="–еквЌомерƒок" use="required">
			<xs:annotation>
				<xs:documentation>Ќомер документа</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="–еквƒатаƒок" type="ƒата“ип" use="required">
			<xs:annotation>
				<xs:documentation>ƒата документа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="–екв»д‘айлƒок" use="optional">
			<xs:annotation>
				<xs:documentation>»дентификатор файла обмена документа, подписанного первой стороной</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="–екв»дƒок" use="optional">
			<xs:annotation>
				<xs:documentation>»дентификатор документа </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="–»д—ист’ранƒ" use="optional">
			<xs:annotation>
				<xs:documentation>»дентифицирующа€ информаци€ об информационной системе, в которой осуществл€етс€ хранение документа, необходима€ дл€ запроса информации из информационной системы</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="500"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="–екв”–Ћ—истƒок" use="optional">
			<xs:annotation>
				<xs:documentation>—ведени€ в формате URL об информационной системе, котора€ предоставл€ет техническую возможность получени€ информации о документе</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="500"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="–еквƒоп—ведƒок" use="optional">
			<xs:annotation>
				<xs:documentation>ƒополнительные сведени€</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="2000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="»д–ек—ост“ип">
		<xs:annotation>
			<xs:documentation>»дентифицирующие реквизиты экономических субъектов, составивших (сформировавших) документ</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="»ЌЌёЋ" type="»ЌЌёЋ“ип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>»ЌЌ организации, состо€щей на учете в налоговом органе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="»ЌЌ‘Ћ" type="»ЌЌ‘Ћ“ип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>»ЌЌ физического лица, в том числе индивидуального предпринимател€   </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ƒанн»но" type="—в»нЌе”ч“ип" minOccurs="0">
				<xs:annotation>
					<!---************************************************************************************************************************************************************-->
					<xs:appinfo>
						<sch:pattern name="ѕроверка присутстви€ элемента »дентиф в зависимости от присутстви€ элемента »ные—вед">
							<sch:rule context="ƒанн»но">
								<sch:assert test="usch:iif(
								count(@»ные—вед)=0  , 
								count(@»дентиф)!=0, 
								count(@»дентиф)!=0 or count(@»дентиф)=0
								)">
									<usch:error code="0400300003" path="@»дентиф" value-of-select="count(@»дентиф)">Ќе выполнено условие присутстви€ элемента »дентиф при присутствии элемента »ные—вед в количестве, равном "<usch:value-of select="count(@»ные—вед)"/>
									</usch:error>
								</sch:assert>
							</sch:rule>
						</sch:pattern>
					</xs:appinfo>
					<!---*************************************************************************************************************************************************************-->
					<!---************************************************************************************************************************************************************-->
					<xs:appinfo>
						<sch:pattern name="ѕроверка присутстви€ элемента »ные—вед в зависимости от присутстви€ элемента »дентиф">
							<sch:rule context="ƒанн»но">
								<sch:assert test="usch:iif(
								count(@»дентиф)=0  , 
								count(@»ные—вед)!=0, 
								count(@»ные—вед)!=0 or count(@»ные—вед)=0
								)">
									<usch:error code="0400300003" path="@»ные—вед" value-of-select="count(@»ные—вед)">Ќе выполнено условие присутстви€ элемента »ные—вед при присутствии элемента »дентиф в количестве, равном "<usch:value-of select="count(@»дентиф)"/>
									</usch:error>
								</sch:assert>
							</sch:rule>
						</sch:pattern>
					</xs:appinfo>
					<!---*************************************************************************************************************************************************************-->
					<xs:documentation>ƒанные об иностранной организации (иностранном гражданине), не состо€щей на учете в налоговых органах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ќаимќ»¬" minOccurs="0">
				<xs:annotation>
					<xs:documentation> раткое наименование органа исполнительной власти (специализированной уполномоченной организации), выдавшего документ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="—в»нЌе”ч“ип">
		<xs:annotation>
			<xs:documentation>—ведени€ об иностранной организации (иностранном гражданине), не состо€щей на учете в налоговых органах</xs:documentation>
		</xs:annotation>
		<xs:attribute name="»д—тат" use="required">
			<xs:annotation>
				<xs:documentation>»дентификаци€ статуса</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="2"/>
					<xs:enumeration value="»ќ"/>
					<xs:enumeration value="»√"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name=" од—тр" type="ќ —ћ“ип" use="required">
			<xs:annotation>
				<xs:documentation> од страны</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Ќаим—тран" use="required">
			<xs:annotation>
				<xs:documentation>Ќаименование страны</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Ќаим" use="required">
			<xs:annotation>
				<xs:documentation>Ќаименование иностранной организации полное/‘амили€, им€, отчество (при наличии) иностранного гражданина</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="1000"/>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="»дентиф" use="optional">
			<xs:annotation>
				<xs:documentation>»дентификатор иностранной организации (иностранного гражданина)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="»ные—вед" use="optional">
			<xs:annotation>
				<xs:documentation>»ные сведени€ дл€ однозначной идентификации иностранной организации (иностранного гражданина)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="‘»ќ“ип">
		<xs:annotation>
			<xs:documentation>‘амили€, им€, отчество физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="‘амили€" use="required">
			<xs:annotation>
				<xs:documentation>‘амили€</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="»м€" use="required">
			<xs:annotation>
				<xs:documentation>»м€</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ќтчество" use="optional">
			<xs:annotation>
				<xs:documentation>ќтчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="»ЌЌ‘Ћ“ип">
		<xs:annotation>
			<xs:documentation>»дентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="»ЌЌёЋ“ип">
		<xs:annotation>
			<xs:documentation>»дентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name=" Ќƒ“ип">
		<xs:annotation>
			<xs:documentation> од из  лассификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ќ “ћќ“ип">
		<xs:annotation>
			<xs:documentation> од из ќбщероссийского классификатора территорий муниципальных образований</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[0-9]{8}"/>
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ќ —ћ“ип">
		<xs:annotation>
			<xs:documentation> од из ќбщероссийского классификатора стран мира</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="¬рем€“ип">
		<xs:annotation>
			<xs:documentation>¬рем€ в формате „„.ћћ.——</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern value="([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})\.([0-5]{1}[0-9]{1})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ƒата“ип">
		<xs:annotation>
			<xs:documentation>ƒата в формате ƒƒ.ћћ.√√√√ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
